[2021-03-03 00:53] jtfairbank opened #1 "Switch to TypeScript"
@jtfairbank has never used TypeScript before.  Pretty sure I can figure it out since I understand JS well even if I'm a bit rusty to the ecosystem at the moment.  But I didn't want to set it up for a new project so I've bootstrapped this one in JS for the time being.

Ideally everything looks pretty similar to the shipment tracker

[2021-03-03 00:54] jtfairbank opened #2 "Switch From NPM & Yarn"
Same deal as #1 .  I haven't used Yarn before and didn't want to goof it up!  If someone can set it up I should be able to read the docs and figure out how to work with it just fine.

[2021-03-03 00:56] jtfairbank opened #3 "Install Prettier for Code Formatting"
https://prettier.io/

Same as #1 .  Want to keep things in sync with the shipment tracker, don't know code formatting conventions for TypeScript.

[2021-03-03 00:57] jtfairbank opened #4 "Setup Jest For Testing"
https://jestjs.io/

Haven't had time to setup testing yet- making sure this combo of tools works well for the team first.  Anyone can pick this up in the meantime!

[2021-03-03 00:58] jtfairbank opened #5 "Setup Tailwind.css"
https://tailwindcss.com/

Haven't used it before, so this is up for grabs if you have!  Would like to keep css separate from JS tho.

[2021-03-03 01:00] jtfairbank opened #6 "Setup & Document Deployment"
Built & hosted by Netlify.

- [ ] Document this setup & other deployment / production related notes in the README.

[2021-03-03 01:00] jtfairbank opened #7 "Setup Project Overview On Notion"

[2021-03-03 01:04] jtfairbank opened #8 "Document How To Restructure Contentful Models"
Could get tricky, since the code depends on these models.

- [ ] Document how storytelling volunteers can & can't change the Contentful models independently.  EX: Adding a field should be fine, renaming a field would break references to it.
- [ ] Document how storytelling volunteers & devs should pair to adjust the models in Contentful and the codebase at the same time.
- [ ] Restructure existing

[2021-03-03 05:32] #2 closed, assigned to nobody

[2021-03-03 06:17] deammer opened #11 "Set up path aliases"
It would be nice to import components using path aliases. For example: `import Nav from '@components/Nav'`.

Gatsby has a plugin for it, and we'll also need to set up a `tsconfig.json` file to make TypeScript aware of the paths.

[2021-03-03 23:54] #1 closed, assigned to nobody

[2021-03-05 06:23] #5 closed, assigned to nobody

[2021-03-10 01:49] #3 closed, assigned to nobody

[2021-08-01 20:15] iulspop commented on #7
Hi,

The [link to the project overview](https://www.notion.so/c85002a23d94423bb79f4c64802c4c47) in the README under "Key Documents" leads to a restricted page:
![image](https://user-images.githubusercontent.com/53665722/127784183-3ba0c0da-6eb2-497d-913a-6bea0662b1d0.png)

You can fix that by making the notion document public on the web.

[2021-08-01 20:37] iulspop commented on #4
Hi @jtfairbank, I'm interested in picking up this issue. I'm doing a course on testing javascript by Kent C. Dodds, so this is good practice for me!

I'm just wondering, what functionality do you want to test with jest right now? Jest is used for integration or unit tests. In the context of React, you'd write tests for a group of components working together or for a single component. Judging from

[2021-08-26 15:19] jtfairbank opened #24 "Display Shipment Totals on Region Template Pages"
**Previous work:** add content to the regions listing (index page) and to each region page (templates).

- Index page now displays each region, along with a thumbnail of a map of the region.
- Template page now displays region information (name + full-image map) and a table of shipment data, including icons describing the category of the ship.

**Starting Point:** https://app.codesee.io/shared/eda

[2021-08-26 15:21] jtfairbank opened #25 "Style the Region Template Page"
**Previous work:** add content to the regions listing (index page) and to each region page (templates).

- Index page now displays each region, along with a thumbnail of a map of the region.
- Template page now displays region information (name + full-image map) and a table of shipment data, including icons describing the category of the ship.

**Starting Point:** https://app.codesee.io/shared/eda

[2021-09-09 21:25] Panzemek opened #29 "Create ShipmentBanner Component and Contentful Model"
**Previous work:** ShipmentBanner  section added to Section.tsx switch statement.

- No functional code created yet for this feature.

**Starting Point:**
Recording: https://app.codesee.io/shared/99dc9ec0-3804-11ec-b5c4-e93c0b8edf5c

Map with Tour: https://app.codesee.io/maps/public/fe74c460-3805-11ec-8cad-e75806fe4532

**Goal:**

- [ ] Add component to display a short summary of shipment routes,

[2021-09-09 21:28] Panzemek opened #30 "Create SideCardStack Component and Contentful Model"
**Previous work:** SideCardStack section added to Section.tsx switch statement.

- No functional code created yet for this feature.

**Starting Point:**
Recording: https://app.codesee.io/shared/99dc9ec0-3804-11ec-b5c4-e93c0b8edf5c

Map with Tour: https://app.codesee.io/maps/public/fe74c460-3805-11ec-8cad-e75806fe4532

https://www.figma.com/file/Ey8xRnstZS4UYmqQwyYZdC/Landing-Page

**Goal:**

- [ ]

[2021-09-09 21:31] Panzemek opened #31 "Create NumbersSummary Component and Contentful Model"
**Previous work:** NumbersSummary section added to Section.tsx switch statement.

- No functional code created yet for this feature.

**Starting Point:**
Recording: https://app.codesee.io/shared/99dc9ec0-3804-11ec-b5c4-e93c0b8edf5c

Map with Tour: https://app.codesee.io/maps/public/fe74c460-3805-11ec-8cad-e75806fe4532

https://www.figma.com/file/Ey8xRnstZS4UYmqQwyYZdC/Landing-Page

**Goal:**

- [

[2021-09-09 21:34] Panzemek opened #32 "Create ImageCarousel Contentful Model and Refactor to Data Object"
**Previous work:** ImageCarousel section added to Section.tsx switch statement. React component created.

- The ImageCarousel displays images from an object passed into it. It is currently using a placeholder image object.

**Starting Point:**
Recording: https://app.codesee.io/shared/99dc9ec0-3804-11ec-b5c4-e93c0b8edf5c

Map with Tour: https://app.codesee.io/maps/public/fe74c460-3805-11ec-8cad-e75

[2021-09-09 21:37] Panzemek opened #33 "Create MissionBanner Component and Contentful Model"
**Previous work:** MissionBanner section added to Section.tsx switch statement.

- No functional code created yet for this feature.

**Starting Point:** https://app.codesee.io/data-flow/0e490f50-11b3-11ec-88f8-bb5d3013d81c

**Goal:**

- [ ] Add component to display mission statement / basic summary and chosen graphic.
- [ ] Add Contentful model to provide needed data for the component.

[2021-09-23 15:56] hola-soy-milk commented on #33
Taylor and I can go ahead and start with this!

[2021-10-07 16:08] khendrikse commented on #4
Hey @jtfairbank I'd love to write some tests to help out, but I need

[code]

:) any way to get that?

[2021-10-07 16:55] #33 closed, assigned to hola-soy-milk

[2021-10-13 23:09] #4 closed, assigned to nobody

[2021-10-14 15:49] jtfairbank opened #37 "Refactor: Move PageBanner Component From Content to Section"
@ramonh and @jtfairbank created the PageBanner component ( PR #35 ).  We originally thought it would be a Content component but during the implementation it made more sense as a Section component with Content components in it.  Now we need to refactor the code by moving the component to the right part of the codebase.

- [ ] Move `src/components/content/PageBanner.tsx` to `src/components/section/`

[2021-10-14 16:03] jtfairbank opened #38 "Add Read-Only Contentful Token to the Repo"
We need to make it easier to contribute to DA's landing site!  We can do this securely by committing a read-only Contentful access token to the repo.

[2021-10-14 16:45] pedaars commented on #37
I will take a look at this

[2021-10-14 16:47] hola-soy-milk commented on #37
Go for it, thanks, @pedaars! 💜

[2021-10-14 16:55] #38 closed, assigned to jtfairbank

[2021-10-15 05:58] #37 closed, assigned to pedaars

[2021-10-15 08:27] #11 closed, assigned to nobody

[2021-10-15 16:40] renovate[bot] opened #45 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/distributeaid/distributeaid.org).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

[2021-10-21 16:17] hola-soy-milk opened #66 "Extract Totals helper module"
On [this line](https://github.com/distributeaid/distributeaid.org/blob/saga/src/templates/RegionPage.tsx#L56), we're adding to the page the calculation of a series of shipments' values, as a `totals` object.

It would be good to extract a module that accepts these shipments and returns that values object.

This would allow a consistent way of calculating shipment totals across the codebase.

Previ

[2021-10-21 17:02] dolatapatryk commented on #66
Hello, can I do this issue? :)

[2021-10-21 17:18] hola-soy-milk commented on #66
Sure thing @dolatapatryk, thank you so much for volunteering! I'll assign this to you right away

[2021-10-21 18:37] dolatapatryk commented on #66
Done in #67

[2021-10-27 17:22] #66 closed, assigned to dolatapatryk

[2021-10-28 15:30] hola-soy-milk commented on #25
Resolved in #65

[2021-10-28 15:30] #25 closed, assigned to hola-soy-milk

[2021-10-28 15:41] hola-soy-milk opened #68 "Style the navigation bar"
**Previous work**:

Show the logo as content from Contentful.

**Starting point**:
https://app.codesee.io/shared/99dc9ec0-3804-11ec-b5c4-e93c0b8edf5c

Goal:

- [x] Style the navbar so the logo fits fully, making the logo fit dynamically
- [x] Remove the logo title from below the image
- [ ] Right-align the nav links

We want to try and match the style of the proposed design:
https://www.figma.com/

[2021-10-28 17:12] ZaidMarrie commented on #68
Please assign me this issue if no one else is working on it.

[2021-10-28 17:19] hola-soy-milk commented on #68
Go for it, thanks @ZaidMarrie!

[2021-10-29 11:03] nguyenhung15913 commented on #68
Hi, can I work on this ?

[2021-11-01 11:31] ZaidMarrie commented on #68
unassigned myself as I am not familiar with the tech stack used

[2021-11-01 13:22] hola-soy-milk commented on #68
Gotcha, thank you for confirming!

All yours if you like, @nguyenhung15913!

[2021-11-11 17:07] hola-soy-milk commented on #68
I'll go ahead and take this on for now!

[2021-11-14 23:54] #68 closed, assigned to hola-soy-milk

[2021-11-16 02:51] deammer opened #96 "Import fonts globally"
We're currently importing fonts in the `layouts/Default.tsx` file. This means that pages that don't use this layout won't download the fonts.

We should import the fonts globally so that every page is consistent.

[2021-11-27 01:41] #96 closed, assigned to deammer

[2021-12-01 20:56] deammer opened #110 "Add a favicon to the website"
Let's match the favicon from the current website: https://distributeaid.org

[2021-12-02 00:14] deammer opened #111 "Build the "About us" page"
[Designs are here](https://www.figma.com/file/Ey8xRnstZS4UYmqQwyYZdC/Landing-Page?node-id=576%3A880).

There are 5 sections:
- [x] the hero with a video
- [x] the mission statement
- [x] the board members
- [ ] the mission details
- [ ] the timeline

Please feel free to work on all of them at once or break them up into multiple PRs.

### Notes

- the page route should be `/about` (replace the `/wh

[2021-12-05 19:31] #111 closed, assigned to hola-soy-milk

[2021-12-09 17:03] hola-soy-milk opened #116 "Integrate ImageCarousel to main page"
Related to #32

CodeSee Recording:
https://app.codesee.io/shared/4bb1a720-5912-11ec-92c1-f7ca5b5ec43b

Figma design:
![Screenshot of Figma design for ImageCarousel component](https://user-images.githubusercontent.com/656318/145444540-893bfba4-4ec1-4e62-912a-3ad449ef24f2.png)

See the Figma design for reference:
https://www.figma.com/file/Ey8xRnstZS4UYmqQwyYZdC/Landing-Page?node-id=208%3A600

[2021-12-09 17:08] hola-soy-milk opened #117 "Add social icons to banner on main page and About Us page"
CodeSee recording:
https://app.codesee.io/shared/4bb1a720-5912-11ec-92c1-f7ca5b5ec43b

Figma design:
![Screenshot of Figma design showing social icons in banner](https://user-images.githubusercontent.com/656318/145444289-08656f07-52e9-4bf9-bced-19d402196bc2.png)

Figma design for reference:
https://www.figma.com/file/Ey8xRnstZS4UYmqQwyYZdC/Landing-Page?node-id=208%3A601

[2021-12-09 17:12] hola-soy-milk opened #118 "Replace the "Ship Your Aid" section with the new design"
CodeSee Recording:
https://app.codesee.io/shared/4bb1a720-5912-11ec-92c1-f7ca5b5ec43b

Figma design:
![Screenshot of Figma design showing the Ship your Aid](https://user-images.githubusercontent.com/656318/145443578-8dc1cafc-d947-4822-b693-3ea973c46eff.png)

Can startoff with a static image, then implement the Image Carousel to show a variety of shipment / destination related images.  Related to #

[2021-12-09 17:24] hola-soy-milk opened #119 "Add Fort Pickett and In-kind donations sections to the "How we help" section in the main page"
CodeSee Recording:
https://app.codesee.io/shared/4bb1a720-5912-11ec-92c1-f7ca5b5ec43b

![Screenshot of In-kind donations Figma design](https://user-images.githubusercontent.com/656318/145444894-8850b407-5c45-4732-b602-84d3b03ab547.png)

Figma link:
https://www.figma.com/file/Ey8xRnstZS4UYmqQwyYZdC/Landing-Page?node-id=208%3A601

Text content for "In-kind Donations":

[code]

- [x] TODO: @jtfairban

[2021-12-09 17:27] hola-soy-milk opened #120 "Change Patreon link to Donation link"
CodeSee Recording:
https://app.codesee.io/shared/4bb1a720-5912-11ec-92c1-f7ca5b5ec43b

- [ ] Make the button match that in the navigation bar

[2021-12-12 00:16] RabeaGleissner commented on #120
Hello! Happy to have a look at this one.

[2021-12-12 00:37] RabeaGleissner commented on #120
https://github.com/distributeaid/distributeaid.org/pull/122

[2021-12-12 10:24] hola-soy-milk commented on #120
Thanks, @RabeaGleissner! I've assigned you

[2021-12-12 23:52] RabeaGleissner opened #123 "Hide "Donate" button on the donation page"
It doesn't really make sense to show the "Donate" button on the donation page because it will just link to the current page. So we can hide it.

[2021-12-13 18:16] deammer commented on #120
Resolved by #122

[2021-12-13 18:16] #120 closed, assigned to RabeaGleissner

[2021-12-15 09:15] hola-soy-milk commented on #119
@jtfairbank Unless I'm mistaken, we need a photo for the In-kind Donations section too, correct?

[2021-12-15 20:10] coderbyheart opened #126 "License or replace social network icons added in #121"
They [were added](https://github.com/distributeaid/distributeaid.org/pull/121) without acquiring permission by the original author (Figma?) first.

[2021-12-15 20:29] hola-soy-milk commented on #126
Thanks for opening this, @coderbyheart!

To clarify, these icons were not taken from Figma itself, but from the work from our designers uploaded to Figma.

After investigating this. We've concluded that they're from in-house, and do not require licensing.

Ok to close this?

[2021-12-15 21:03] coderbyheart commented on #126
Yes, thanks for clarifying!

[2021-12-15 21:03] #126 closed, assigned to hola-soy-milk

[2021-12-15 21:03] hola-soy-milk commented on #126
Thank **you**!

[2021-12-16 10:34] RabeaGleissner opened #128 "Fix issue with duplicate graphql instances"
Currently the build is failing at the ["Generate types" step](https://github.com/distributeaid/distributeaid.org/runs/4545790844?check_suite_focus=true).
I'm also getting an issue at the same step when I run `yarn dev` locally so I'd guess it's the same problem:

[code]
I did an `npm list graphql` and there are indeed two different versions...
Output:
[code]

Not sure how to resolve this other tha

[2021-12-16 17:07] #116 closed, assigned to deammer

[2021-12-16 17:22] deammer commented on #128
I'm curious why `graphql` is a dependency by itself inside the `package.json` file 🤔

[2021-12-17 16:37] #128 closed, assigned to deammer

[2021-12-20 12:01] RabeaGleissner commented on #117
I'll add these :)

[2021-12-20 12:02] hola-soy-milk commented on #117
Wonderful, thank you so much!

[2021-12-20 12:32] RabeaGleissner commented on #117
@ramonh @deammer I'm wondering if one of you could help me with some questions!

I saw that we still have the old social icons in the footer but they're not in the design. I assume we need to get rid of the icons in the footer? Or do we want to keep both? In that case we should probably stick to one icon design (the blue and white one?).

I saw the note in Figma saying that the icons should only s

[2021-12-20 12:38] hola-soy-milk commented on #117
Good questions, thank you!

In my opinion, we could leave these in for now, as they're not occupying much space. What do you think?

[2021-12-20 12:56] RabeaGleissner commented on #117
Sure, happy to keep them but I think I will change the icons to the new blue and white design to make it consistent. And at the moment we only have Twitter, LinkedIn and Instagram in the footer, so I might add Facebook in there as well.

Hope that's ok!

[2021-12-20 13:05] hola-soy-milk commented on #117
That sounds marvelous, I'm all for consistency, thank you!

[2021-12-29 16:08] RabeaGleissner commented on #118
Looks like all the issues related to the milestone are either done or in progress, so I'll start working on this one.

[2022-01-01 18:44] #110 closed, assigned to deammer

[2022-01-02 10:32] deelobase opened #132 "Deploy your app for free 🚀"
Hey @distributeaid, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https:

[2022-01-04 10:36] RabeaGleissner commented on #117
Done!

[2022-01-04 10:36] #117 closed, assigned to RabeaGleissner

[2022-01-13 13:54] hola-soy-milk commented on #119
Hey @RabeaGleissner! Thank you once again so much for your help.

I hope you don't mind if I go ahead and handle this ahead of our launch?

[2022-01-13 14:23] RabeaGleissner commented on #119
Don’t mind at all, please feel free @ramonh !
Apologies, I won’t have time to contribute more until mid next week or so…
Thanks for jumping in on this one!

[2022-01-13 14:24] hola-soy-milk commented on #119
Please don't apologise! I can't thank you for all your help so far!

I wanted to make sure I don't step on your toes :)

[2022-01-13 16:58] #119 closed, assigned to RabeaGleissner

[2022-01-13 17:27] hola-soy-milk opened #135 "Improve main page carousel responsiveness"
![Screenshot showing mobile view for main page carousel](https://user-images.githubusercontent.com/656318/149378739-d3619476-7ef1-4371-8c4f-2a2bf62d81d0.png)

[CodeSee recording](https://app.codesee.io/shared/0b0b10f0-7490-11ec-a628-61bee2c3b61c)

Right now, the images are side-by-side in mobile with the title.

Would be good to have them above or below the title, with one image shown at a time, b

[2022-01-13 17:31] hola-soy-milk opened #136 "Fix mobile responsiveness for shipment routing pages"
![Screenshot showing the layout issue in the routing pages](https://user-images.githubusercontent.com/656318/149379563-99bed487-1c2f-4787-baee-32221f07c52d.png)

Example of the issue [here](https://distributeaid.org/routes/uk-to-france).

[CodeSee recording](https://app.codesee.io/shared/0b0b10f0-7490-11ec-a628-61bee2c3b61c)

Right now, the sections are side-by-side in mobile.

Would be good to ha

[2022-01-13 17:43] hola-soy-milk opened #137 "Add missing alt texts and/or aria labels for the main page"
In order to catch these, recommend running Lighthouse on the page, and seeing which images are missing alt text.

[CodeSee Recording](https://app.codesee.io/shared/0b0b10f0-7490-11ec-a628-61bee2c3b61c)

[2022-01-13 17:51] hola-soy-milk opened #138 "Space out group logos in shipment route pages"
![Screenshot showing missing space between group logos in mobile view](https://user-images.githubusercontent.com/656318/149382658-d5032cc4-5f77-4f6d-a9e8-0c8bd98493d3.png)

[CodeSee Recording](https://app.codesee.io/shared/0b0b10f0-7490-11ec-a628-61bee2c3b61c)

Ideally these should have at least 20% of the logo size's space between them.

[2022-01-24 09:43] RabeaGleissner commented on #136
I have a bit of time today, so I can work on this! I'll also try to extract some components from these Routes pages and make them a bit more React-like.

[2022-01-27 01:14] #136 closed, assigned to RabeaGleissner

[2022-01-27 16:01] #138 closed, assigned to nobody

[2022-01-27 16:11] #137 closed, assigned to RabeaGleissner

[2022-02-25 07:59] RabeaGleissner commented on #135
Here's a suggestion for how to fix this: https://github.com/distributeaid/distributeaid.org/pull/153

[2022-02-25 08:02] RabeaGleissner commented on #118
I'm going to un-assign myself from this as I haven't done much on it yet and I'm not sure if this is still a priority at the moment...

[2022-03-03 21:36] hola-soy-milk commented on #123
This is the donate button in the footer

[2022-04-06 02:35] jtfairbank opened #170 "Spring Cleaning"
It's been a minute since I had a chance to code, so now's a good time to do some maintenance work as I get back up to speed.

### Remove Unused Components

([CodeSee Map](https://app.codesee.io/maps/5a88cdb0-b532-11ec-9b21-afcb4db5ff68))

- [x] DropdownMenu
- [x] Animation
- [x] Card
- [x] Badge

### Review & Refactor Static Pages

- [ ] Home
- [ ] About Us
- [ ] Donate

### Review & Refactor Rout

[2022-04-06 02:49] jtfairbank commented on #170
Hey @deammer is there a specific reason you created the HomePage and AboutUsPage as templates instantiated in `/gatsby-node.js`?  As opposed to creating them as pages in `/src/pages` and keeping the page query with the page, like Donate or Shipments?

Wondering if I can safely refactor them into pages.

[2022-04-06 03:28] deammer commented on #170
Hey @jtfairbank! I am actually not sure why I did it that way instead of co-locating the queries 🤔 Maybe that involved some complexity that I didn't want to deal with when we were shipping the new site? My memory is terrible 😅 If you refactor it, please let me know what you find out!

[2022-04-06 03:31] jtfairbank commented on #170
Word up!  And yeah that makes sense.  You were in "get it launched" mode. :laughing:

[2022-04-06 05:15] jtfairbank commented on #170
@deammer figured it out!  See the last 2 commits on #171 for the setup using Forestry => Gatsby Pages using page queries instead of Forestry => Gatsby Templates hooked up in `gatsby-node.js`.  Please do leave me a note if you spot anything I didn't, though! :)

[2022-04-06 15:02] deammer commented on #170
@jtfairbank #171 doesn't seem quite right, that's a dependency upgrade

[2022-04-06 15:08] jtfairbank commented on #170
@deammer whoops! #172

[2022-04-06 22:42] deammer commented on #170
👏 very nice!

[2022-04-14 00:43] jtfairbank opened #194 "Launch Region Pages w/ Needs Assessment Results"
### Use Forestry to implement region pages, instead of Contentful.

- [x] 1. Create a Region page template in Forestry with the following fields

[code]

- [x] 2. Hardcode an index page with displays a card for each region page.

- [x] 3. Create region pages in Forestry using the [needs assessment regional context (Google Drive)](https://drive.google.com/drive/folders/1KMHSNmwssLWKIDej8Hc_1ipxVORX

[2022-05-05 18:13] #123 closed, assigned to nobody

[2022-05-26 16:22] hola-soy-milk commented on #32
@jtfairbank Might we want to close these Contentful-related issues or remove the "good first issue" label for the time being?

[2022-06-09 18:31] jtfairbank commented on #8
No longer relevant now that we're using Forrestry.io

[2022-06-09 18:31] #8 closed, assigned to jtfairbank

[2022-06-09 18:34] jtfairbank commented on #31
We're going to take a different approach to gathering / displaying stats data.

[2022-06-09 18:34] #31 closed, assigned to nobody

[2022-06-09 18:36] #29 closed, assigned to nobody

[2022-06-09 18:38] jtfairbank commented on #32
Taking a new approach w/ Forestry.io.  Will make another issue to get the Image Carousel onto Forestry at some point in the future.

[2022-06-09 18:38] #32 closed, assigned to nobody

[2022-06-09 18:38] #30 closed, assigned to nobody

[2022-06-09 18:39] jtfairbank commented on #7
Decided to keep notion as an internal tool, there's a lot more documentation on the project itself now (readme, issues, etc).

[2022-06-09 18:39] #7 closed, assigned to jtfairbank

[2022-06-09 18:44] jtfairbank commented on #118
Looks like this is done, we went with the card-style option to highlight routes.

[2022-06-09 18:44] #118 closed, assigned to nobody

[2022-06-09 18:46] #135 closed, assigned to RabeaGleissner

[2022-06-14 10:04] coderbyheart opened #328 "Add Whistle Blowing Policy and Code of Conduct pages"
Would be great if we could have a link in the footer (just under the hello@ email) to take people to it.

![image](https://user-images.githubusercontent.com/188915/173551648-0797fb7b-973c-4127-abd2-e97e0fc29a52.png)

Content:

- [Whistleblower Policy.docx (1).pdf](https://github.com/distributeaid/distributeaid.org/files/8899233/Whistleblower.Policy.docx.1.pdf)
- [Code_of_Conduct.pdf](https://githu

[2022-06-15 18:57] #328 closed, assigned to nobody

[2022-06-20 16:33] hola-soy-milk opened #348 "Draft design for regions page"
Currently, we have a [card-based design](https://distributeaid.org/regions/) for the regions page, which we'd like to bring home and/or improve.

Things we'd love to add:

- Icons for services rendered in those regions, such as:
  - Import
  - Export
  - Shipping
    - Pallet shipping
    - Trucks
    - Containers
  - Needs assessments
- Impact overview
  - Number of people
  - Needs met

[2022-06-20 16:36] hola-soy-milk opened #349 "Integrate a site-wide search"
Perhaps using [Algolia](https://www.algolia.com/)

Goals:

- [ ] mention Algolia in the Data Privacy section of the page
- [ ] Integrate Algolia package
- [ ] Index site using Algolia
- [ ] Design/implement search bar
- [ ] Deploy hook to rebuild Algolia index

[2022-06-20 17:18] hola-soy-milk opened #350 "Add styling for Subregion page's components"
Right now, [our individual subregion page is largely unstyled](https://distributeaid.org/regions/greece/aegean-islands).

These can be styled using [TailwindCSS](https://tailwindcss.com/).

Get started with our codebase's region functionality by clicking on this CodeSee Map:
[![Region Page Styling](https://user-images.githubusercontent.com/656318/174651401-c3dd1b57-7d12-4924-b41d-ed4a13bc0b99.jpeg

[2022-06-20 17:31] hola-soy-milk opened #351 "Add styling for Region page"
Right now, [our individual region page is largely unstyled](https://distributeaid.org/regions/greece).

This can be styled using [TailwindCSS](https://tailwindcss.com/).

Get started with our codebase's region functionality by clicking on this CodeSee Map:
[![Region Page Styling](https://user-images.githubusercontent.com/656318/174651401-c3dd1b57-7d12-4924-b41d-ed4a13bc0b99.jpeg)](https://app.code

[2022-06-20 17:40] hola-soy-milk opened #352 "Gitpod integration"
I've seen projects have a "Open with Gitpod" button, such as [OpenSauced](https://github.com/open-sauced/open-sauced#gitpod)

Let's integrate this!

[2022-06-20 17:47] hola-soy-milk opened #353 "Issue form"
Big fan of how OpenSauced first has a [form for a type of issue](https://github.com/open-sauced/open-sauced/issues/new/choose), followed by a [form for the issue itself](https://github.com/open-sauced/open-sauced/issues/new?assignees=&labels=%F0%9F%91%80+needs+triage%2C%F0%9F%90%9B+bug&template=bug_report.yml&title=Bug%3A+).

I'm especially a big fan of having the Code of Conduct be a required fie

[2022-06-20 18:18] #352 closed, assigned to hola-soy-milk

[2022-08-04 19:01] hola-soy-milk opened #477 "Replace 3D globe visualization with 2D SVG image on devices that prefer reduced motion"
Let's use the [media query](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion) to replace this with the previously used [2D static graphic](https://github.com/distributeaid/distributeaid.org/blob/saga/src/images/homepage-banner-image.svg).

[2022-08-07 08:32] coderbyheart opened #485 "Update "Aid delivered" section from latest annual report"
## Old data

![image](https://user-images.githubusercontent.com/188915/183282391-2bf3bb70-99c1-4de4-b029-6ff0641ef61a.png)

## New data

Period: July 2021 - June 2022

![image](https://user-images.githubusercontent.com/188915/183282356-f73fa71d-5af5-493a-9c89-d73b2380d74a.png)

[2022-08-07 20:59] #485 closed, assigned to coderbyheart

[2022-08-11 18:23] hola-soy-milk commented on #351
Happy to tackle this live on stream with @jtfairbank !

[2022-08-15 11:36] jtfairbank opened #508 "Feat: Load Team Data Models into Gatsby"
The Team & Role data models are available on Forestry!  We need to load them into Gatsby, and then consume that data to generate team pages.

- [x] Create issue for team pages UI dev

This will be very similar to loading the shipping data models into Gatsby: #358

[2022-08-18 13:37] jtfairbank opened #523 "Setup "Generic" Pages & Content Components"
There are plenty of "generic" pages we need to get onto the site, such as "About Us", "How We Work", or informational pages to help our partners understand the complexities of global aid logistics.  Each of these pages has unique content, so we can't create a reusable template with custom fields.  And there are a decent number of them, so it doesn't make sense to create a specialized template for

[2022-08-18 16:25] ghost commented on #523
Hey, can I take this?

[2022-08-18 16:25] hola-soy-milk commented on #523
Absolutely, thank you for your help, @teachjenntech!

[2022-08-18 17:22] ghost opened #527 "Add arrows to arch on globe"
Please add arrows to point to where the shipment is starting and ending.

![Globe with arches showing Distribute Aid shipments](https://user-images.githubusercontent.com/108376073/185455191-c51a15b1-a11a-4a4e-bb76-63ffe5faeaf8.png)

This is the library that we're using to create the globe: https://www.npmjs.com/package/react-globe.gl

Here is a CodeSee Map showing relevant files: https://app.codes

[2022-08-21 12:43] jtfairbank opened #537 "Highlight Paths for Code Contributors"
Based on feedback during the livestream with @teachjenntech.  Thanks Jenn!

- [x] Fix the open-collective link to our github
- [x] Add a github icon in the footer with the social links
- [ ] Determine the best way to highlight the OSS work DA does.  Maybe a page?  Weston's feedback would be valuable here.
- [ ] Highlight other contribution paths on our donate page (link to github or the OSS page,

[2022-08-21 20:27] ignatiusobiorah commented on #537
Hi, I would like to help adding a github icon to the footer

[2022-08-25 10:38] wwwwwlwwwww opened #546 "Create Teams Page in About Us Section"
This issue follows on from #508 .

We are hoping to create a teams page for the website, according to the mockup presented below.

The mockup presented above was made in MS Paint and is a rough visual depiction of what we want the page to look like; to the extent that small details (e.g. the border color/size) differ from the style already prevalent on the site, we should try to stick with the sty

[2022-08-25 10:44] wwwwwlwwwww opened #547 "Create Generalized Card Template"
There is an existing card setup for region pages and a card setup being worked on for the teams page.

This functionality--having cards display information--can be applied to a lot of content areas.

This issue involves looking at what's been done for those content-specific cards and building a more generalized card template.

Each card should include the following:

- [x] * Image
- [x] * Image Sh

[2022-08-25 15:59] ghost opened #550 "Codesee link not working in README"
Hey all!

Codesee link not working in README https://docs.codesee.io/docs/codebase-maps

![image](https://user-images.githubusercontent.com/108376073/186712992-22908ff2-612b-43d7-b9cc-1d3f85ec412c.png)
![image](https://user-images.githubusercontent.com/108376073/186713441-48a7467b-e995-482b-9cf1-84c4827ad63c.png)

[2022-08-25 21:37] jtfairbank commented on #550
Hey thanks @teachjenntech!  It looks like CodeSee updated their link, and this is the correct one:

https://docs.codesee.io/docs/explore-your-map

Do you want to try and tackle this one?  Happy to leave it open for now as well!

---

Related to this: I noticed that the CodeSee Architecture Diagram button at the top of the readme required folks to log into CodeSee.  I believe @hola-soy-milk you cre

[2022-08-26 00:51] rcmtcristian commented on #537
hello working on the second checkbox, i did not break anything yet.

[2022-08-26 00:56] rcmtcristian commented on #537
check my pull request #551

[2022-08-26 01:05] jtfairbank commented on #537
Thanks so much @rcmtcristian!  It was cool hanging out with you and that first work-in-progress PR looks great!

[2022-08-30 18:12] noelcastillon1 commented on #351
Hey! I want to work on this!

[2022-08-30 18:13] jtfairbank commented on #351
Sounds great @noelcastillon1!  I've added you as an asignee!

[2022-08-30 22:38] eyetech2dev commented on #550
Hello, I would love to take this one from you @teachjenntech if that is okay? This seems like a perfect issue for my very first open source PR! Thank you so much!

[2022-08-30 22:40] jtfairbank commented on #550
That sounds great @eyetech2dev!  While you're at it, do you mind checking the other links in the readme just in case?

[2022-08-30 22:44] eyetech2dev commented on #550
Every other link is good!

[2022-08-30 23:00] jtfairbank commented on #477
Closed by @pavle995 in #558!

[2022-08-30 23:00] #477 closed, assigned to nobody

[2022-08-31 06:55] coderbyheart opened #563 "Mobile view has padding on the right"
![Screenshot_2022-08-31-08-54-22-03_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/188915/187613050-0420111e-cf5c-4809-9b0b-9b8912b166c1.jpg)

[2022-08-31 12:55] Pathholder1806 commented on #563
Hey @coderbyheart !
I would like to work on the issue

As I can observe the issue is occurring at width below 400px

[2022-08-31 12:58] Pathholder1806 commented on #563
As I can observe the issue is occurring at width below 300px

[2022-08-31 13:23] Pathholder1806 commented on #563
Hey @coderbyheart !
I think adding a new media query in 'index.css' for widths below 400px and positioning the **body** as absolute under it is solving the issue.

[2022-08-31 13:48] coderbyheart commented on #563
I'd rather you fix the size of the component that is too wide:

![image](https://user-images.githubusercontent.com/188915/187694319-6cc823c3-e380-487c-85cd-ef906db6ddb1.png)

[2022-08-31 21:40] jtfairbank opened #567 "Setup Github Discussions"
Looks like Github has a [discussions](https://github.com/distributeaid/distributeaid.org/discussions/landing) message board feature where we can answer questions about the codebase and contributing to Distribute Aid. Given the increased interest in contributing to the landing site project, that sounds like a useful way to engage with new contributors in a structured manner.

This will require a ma

[2022-08-31 21:50] hola-soy-milk commented on #567
Heavily in favour of this! I can set it up right away or get it going tomorrow on stream

[2022-08-31 22:04] fosa-ij commented on #563
Hey is anyone currently on this issue?

[2022-08-31 22:05] jtfairbank commented on #563
Hey @Pathholder1806 I've assigned the issue to you!

This is occurring because the 3D globe visualization requires an explicit width set to render.  I've made a [CodeSee map](https://app.codesee.io/maps/public/e491e600-2976-11ed-a948-5baa68eecc2f) highlighting the relevant files.

You'll probably need to use javascript in the `shipments-on-globe.tsx` visualization component to set a smaller width

[2022-08-31 22:07] jtfairbank commented on #563
Hey @fosa-ij!  It looks like @Pathholder1806 wanted to take it, so I want to give them a chance first.  But maybe you two can jump on a zoom to collaborate on it?

We'll be adding more issues soon!  Our maintainers temporarily overwhelmed with all the love and support from the 100devs community, give us a few days and then check back in to find another issue to contribute to?

[2022-08-31 22:14] fosa-ij commented on #563
Okay @jtfairbank I'd definitely check again
Thanks a lot 👍

[2022-08-31 22:21] jtfairbank commented on #567
@hola-soy-milk let's do it tomorrow on the stream?  I think we'll be spending most of the time highlighting pathways for new contributors, and this might be an interesting thing to show them / we can get the audience engaged helping us pick the categories / initial topics, etc.

[2022-08-31 22:25] #567 closed, assigned to nobody

[2022-08-31 22:26] mabioIa commented on #563
Sorry, didn't notice that this issue was taken.

[2022-08-31 22:32] mrxvt commented on #563
Sorry about the fix collision. Let me know if I should close the PR.

[2022-08-31 22:36] jtfairbank commented on #563
Hey @mabioIa no worries!  I commented on the PR as well but yeah, I think that'd be best for now to give @Pathholder1806 a few days to work on a solution for it.

We'll have more issues up soon so check back in later this week!  We recommend commenting on an issue that you're interested in taking it, and we'll assign it to you so that others can see you're working on it to prevent this confusion.

[2022-08-31 22:43] mrxvt commented on #563
Happy to help @jtfairbank.

[2022-09-01 01:29] Pathholder1806 commented on #563
Hey @jtfairbank
Thanks for the consideration! I'll be trying my best to solve this issue ASAP.
Will surely connect with you in case of any problem.

[2022-09-01 09:48] wwwwwlwwwww opened #571 "Feat: Load Media Asset Data Model into Gatsby"
The Media Asset data model is available on Forestry! We need to load it into Gatsby, and then we can consume that data to populate various website pages with images.

This will be very similar to loading the team member/role data models into Gatsby in #536.  Also look at how images are linked to `region` and `subregion` data models in `/gatsby/create-resolvers.js`

CodeSee map of relevant files: h

[2022-09-01 12:44] #508 closed, assigned to jtfairbank

[2022-09-01 18:08] hola-soy-milk opened #573 "Get us on OpenSauced"
opensauced.pizza

[2022-09-01 18:11] hola-soy-milk opened #574 "Add pronouns to our team member object"
Currently, the team member objects have different fields, and it would be good to have pronouns be one of these!

[2022-09-01 18:12] hola-soy-milk commented on #574
I would like to work on this!

[2022-09-01 18:13] jtfairbank commented on #574
Go for it @hola-soy-milk!

[2022-09-01 18:53] #574 closed, assigned to jtfairbank, hola-soy-milk

[2022-09-01 19:44] KeShaKreates commented on #546
Hello! I would like to take this issue.

[2022-09-01 20:21] #550 closed, assigned to eyetech2dev

[2022-09-02 07:32] Pathholder1806 commented on #563
Hey @jtfairbank
I have created a PR with my solution to the error. Kindly review it!
Also If have highlighted another issue in the **index.css**. Kindly take a look into it too.

[2022-09-02 07:39] coderbyheart opened #580 "Netlify previews for non-member PRs fail"
This is correct, because they should not have access to our secrets.

However it would be great if there was an easy way for a maintainer to approve a build from the GitHub PR.

The "manual" way for getting a preview is to go into the Netlfy dashbord and retry a failed build there:

![image](https://user-images.githubusercontent.com/188915/188084701-245e4d8a-137d-4d4b-9966-f2310d4cd695.png)

[2022-09-02 07:54] #563 closed, assigned to Pathholder1806

[2022-09-02 07:56] coderbyheart commented on #573
Consider moving this to a discussion, because signing up for OpenSauced does not require a code change in this repo.

[2022-09-02 09:33] wwwwwlwwwww opened #581 "Debug 404 error on routes pages"
Our UK to France and UK to Lebanon page on our public-facing website are currently down.  If you try to access them, you just get a 404 error.

These are the relevant pages:
https://distributeaid.org/routes/uk-to-france
https://distributeaid.org/routes/uk-to-lebanon

I don't know what the cause of the error is, but we should try to get it fixed so that the website can display correctly.

[2022-09-02 09:39] wwwwwlwwwww opened #582 "Feat: Update role data model in Gatsby by loading additional field"
Previously in #508, we loaded the Role model from Forestry into Gatsby.  In the time since that happened, we've added a "team" field for each role.  We need to make sure this field is loaded into Gatsby alongside the already existing fields for Role (title, desc, location, domain, commitment).

CodeSee Map of relevant files: https://app.codesee.io/maps/public/c0509b10-2d13-11ed-a3e9-474708ea821c

[2022-09-02 10:12] wwwwwlwwwww opened #583 "Adding Activity Template data model into gatsby"
NOTE: #571 needs to be completed before this should be done.

The Activity data model is available on Forestry.  We need to load it into Gatsby, so we can consume that data to make What We Do pages.

It has the following fields:
* title
* photo*
* desc
* challenge
* explanation
* benefits
* regions (repeatable field group so there can be multiple regions in here)
  * region

*This is the field tha

[2022-09-02 10:22] wwwwwlwwwww opened #584 "Create Content Block: Image with Caption"
This is one of a new set of issues being created to break down #523 into a larger number of smaller tasks to make sure that our new contributors have plenty of things they can choose to work on.  #523 has some additional context for the information below.

I'd recommend looking at #572  as an example for implementing front-end components with tests.

CodeSee Map of relevant components: https://app

[2022-09-02 10:27] wwwwwlwwwww opened #585 "Create Content Block: Youtube Embed"
This is one of a new set of issues being created to break down https://github.com/distributeaid/distributeaid.org/issues/523 into a larger number of smaller tasks to make sure that our new contributors have plenty of things they can choose to work on. https://github.com/distributeaid/distributeaid.org/issues/523 has some additional context for the information below.

I'd recommend looking at #572

[2022-09-02 10:34] wwwwwlwwwww opened #586 "Create Content Block: PDF displayer/embed"
This is one of a new set of issues being created to break down https://github.com/distributeaid/distributeaid.org/issues/523 into a larger number of smaller tasks to make sure that our new contributors have plenty of things they can choose to work on. https://github.com/distributeaid/distributeaid.org/issues/523 has some additional context for the information below.

We would like to be able to di

[2022-09-02 23:30] coderbyheart commented on #581
git bisect revealed 88d85fc81ee6e2118e3f7a6aa05eb254407725fd to be the commit that causes the pages to disappear. /cc @jtfairbank

[2022-09-02 23:33] jtfairbank commented on #581
Hey thanks @coderbyheart!  I'll look into this one on Sunday.

[2022-09-03 16:52] #581 closed, assigned to jtfairbank

[2022-09-03 22:14] coderbyheart commented on #349
We've used Algolia [with the COVID-19 resources project](https://github.com/distributeaid/covid-19-resources-drive-export/blob/d672758ebc71532eca63d6f6f1f80d6be7c7b55f/gatsby-config.js#L63-L134) and had good results.

[2022-09-03 22:37] raae commented on #349
How much content is it? Could fuse.js work?

[2022-09-03 22:43] coderbyheart commented on #349
Yes, absolutely. The site will not turn into a publishing platform, so having the search DB in the client will be fine.

[2022-09-04 08:31] raae commented on #585
YouTube supports oEmbed and a YouTube link can be transformed into html during the build step. Might be helpful to have a look at https://github.com/queen-raae/gatsby-source-youtube-oembed/blob/main/plugin/gatsby-node.js. It transforms an array of YouTube ids into Gatsby nodes.

[2022-09-04 08:42] raae opened #592 "Use @tailwindcss/typography to style react components instead of using Tailwind CSS classes directly"
The [@tailwindcss/typography](https://tailwindcss.com/docs/typography-plugin) plugin is a solid solution for styling blocks of text, looks great out of the box.

[2022-09-04 17:34] raae commented on #349
Here is my [fuse implementation](https://github.com/raae/queen.raae.codes/blob/main/src/pages/search/%5B...term%5D.js) on my own site if that is helpful.

[2022-09-04 17:56] JasonFritsche commented on #547
@wwwwwlwwwww Can we please create a separate ticket for each of the following items?

* Image Shape (rectangle or circle)
* Behavior when you hover mouse over it - change color or have hover text appear

I'll handle the remaining items in this ticket.

[2022-09-05 12:02] jtfairbank commented on #546
Sounds great @KeShaKreates! I've made a [CodeSee map](https://app.codesee.io/maps/public/31caf4d0-2d0e-11ed-ae63-7d65ece0c3cb) highlighting the most relevant portions of the codebase to help guide you.

I believe we'll want the route for this page to be `/about-us/our-team`.  @wwwwwlwwwww does that sound right?

Key steps:

- [ ] Add your name to `/CONTRIBUTORS.md`
- [ ] Add the page to `/src/page

[2022-09-05 12:06] jtfairbank commented on #580
@coderbyheart would adding contributors to the landing site team that I've setup after they submit their first PR help with this?  The idea being that after they've contributed something real then we can be fairly trusting and by being on the team Netlify will automatically create a preview?

A quick google search didn't turn up an easy solution, but someone might have to dive into Netlify's githu

[2022-09-05 12:17] jtfairbank commented on #546
Note that #582 needs to be resolved in order to access the `team` field on DaTeamRole data entries for ordering team members on the page.  You can use another field to create the UI sections for now, then just switch it up once `team` is available!  Or pick up #582 as well and resolve them both at the same time.

[2022-09-05 13:07] raae commented on #580
Are the secrets not in Netlify? Deploy previews will user them, but not expose them I thought?

[2022-09-05 15:49] rcmtcristian commented on #573
by getting the org into opensauce do you mean being able to get added and tracked ? because that's possible [already ](https://app.opensauced.pizza/repos/distributeaid/distributeaid.org/)

[2022-09-05 15:50] hola-soy-milk commented on #573
Oh nice! Good to know, thanks @rcmtcristian!

[2022-09-05 15:50] #573 closed, assigned to nobody

[2022-09-05 21:07] #547 closed, assigned to JasonFritsche

[2022-09-05 21:09] coderbyheart commented on #547
Hover does not work on mobile, so I don't recommend add special functionality for that.

[2022-09-05 21:11] coderbyheart commented on #580
Yes.

This happens when out-of-organization contributors create a PR, then the PR is run using "their" Netlify account, which has no access to the secrets of the DistributeAid Netlify team.

[2022-09-06 16:46] jtfairbank commented on #592
Yes!  Thanks for the prompt @raae!  I added it to style markdown content in #498 but great idea to apply it more broadly.  I believe there's some legacy code that's still using custom CSS classes, I'll need to create some more issues to deal with that but then I think this could be an excellent issue for one of the new devs contributing to our project.  :smile:

[2022-09-06 17:10] #582 closed, assigned to rcmtcristian

[2022-09-07 15:04] JasonFritsche opened #601 "Add Option to Allow Image to be either Square or Round in Card Component"
The header/image in the Card component is always square. Let's add the option to make it round or square.

Here is the CodeSee of files that require change: https://app.codesee.io/maps/f3d494c0-2f14-11ed-a3e9-474708ea821c

[2022-09-08 08:06] wwwwwlwwwww commented on #546
Taylor, you're absolutely right about /about-us/our-team being the desired route for this page for the work of @KeShaKreates.

[2022-09-09 01:15] JasonFritsche opened #605 "Add Card Hover Behavior"
The Card component should include optional behavior when you hover over it.

This behavior could be changing the cards color, display a tool-tip, or both.

[2022-09-09 06:13] coderbyheart commented on #605
Why is this needed?

[2022-09-09 06:14] coderbyheart commented on #601
Why is this needed?

[2022-09-09 12:57] JasonFritsche commented on #605
@coderbyheart This issue was listed as a requirement in #547 but was not implemented in that ticket.

[2022-09-09 12:57] JasonFritsche commented on #601
@coderbyheart This issue was listed as a requirement in #547 but was not implemented in that ticket.

[2022-09-09 13:54] coderbyheart commented on #601
Thanks for clarifying!

[2022-09-09 13:55] coderbyheart commented on #605
Ok, but hover features do not work on mobile and are problematic to make accessible. Therefore we will hold off on this feature until there is a concrete example for the need for a hover feature in the card. /cc @wwwwwlwwwww

[2022-09-09 13:55] #605 closed, assigned to nobody

[2022-09-09 14:02] JasonFritsche commented on #605
Sounds good! Thanks @coderbyheart

[2022-09-09 19:47] choco-develop commented on #351
hey...i will be very excited to hop-in on this task

[2022-09-09 19:53] choco-develop commented on #546
hello...is there still a space for me in the team?
i enjoy working on layout

[2022-09-09 20:00] jtfairbank commented on #546
Hey @choco-develop there absolutely is!  We've had a hard time keeping up with all of the interest but I'm working on getting new issues ready for dev now.  Would you like to take on #584?  #571 would also pair well with it if you want to do some full-stack work.  I'm actively moving those issues out of triage and would happy to jump on a zoom right now if you want some help getting started!

Best

[2022-09-09 20:41] coderbyheart commented on #592
Duplicate of #498 then. Thanks @raae for supporting @jtfairbank idea!

[2022-09-09 20:43] coderbyheart commented on #586
Why?

PDFs are not meant to be displayed as a webpage, because they are statically formatted content optimized for printing. What is wrong with using a PDF viewer?

[2022-09-09 20:43] coderbyheart commented on #585
Please provide links to the YouTube videos that should be embedded on the page @wwwwwlwwwww.

[2022-09-09 20:46] jtfairbank commented on #592
Hey @coderbyheart I think this might not be a duplicate, I believe it should be possible to use @tailwindcss/typography styles directly, not just for styling Markdown.  I don't mind leaving this closed for now but we should definitely keep it in mind, I might create a `styling` section in the docs or something.

[2022-09-09 20:54] coderbyheart commented on #592
Ah, this should also be applied to the HTML created in React components, instead of the tailwind class soup?

[2022-09-09 21:07] jtfairbank commented on #585
Thanks for the heads up @raae!  We'll def take a look at that when we implement the gastby-side code that'll use this component.

@coderbyheart I'm going through these issues to get them out of triage, highlighted the YouTube video on the About Us page.

@wwwwwlwwwww I removed the more complex YouTube control options here, I think for the initial implementation we don't need them.  We can use the

[2022-09-09 21:08] jtfairbank commented on #592
@coderbyheart yeah that's what I was thinking!  Like, this is still tailwind but they've made it easy to set more advanced classes on parent components to style the text in child classes.  And I like how that brings consistency to our typography styling instead of each component looking a little different.

[2022-09-09 21:33] jtfairbank commented on #586
@coderbyheart agreed, might be nice to have a "preview" style thing tho?  Like if we want to feature a pdf somewhere with more then just a link or button, but not display the whole thing.  I'll sync w/ @wwwwwlwwwww on this one.

[2022-09-09 21:51] jtfairbank commented on #571
Note: @wwwwwlwwwww will be adding media asset data to forestry (our CMS) on Monday September 12th.  So you won't be able to pull data thru gatsby / in the graphql explorer until then, although you can certainly start making code changes beforehand!

[2022-09-11 14:44] JasonFritsche commented on #601
Should I expect that we will have a property coming back in the graphql query that determines if the image should be round or not?

I believe we will need to conditionally supply a class name to the imgClassName property on the GatsbyImage component itself, something like this (see imgClassName, currently no logic/nothing conditional):
[code]

My initial thought was that we would wrap the `header`

[2022-09-12 14:40] wwwwwlwwwww opened #616 "Load Activity Data Model into Gatsby"
Note: This relies on #571 being done first.

Conceptual background for what this is:  An "activity" is a category of thing that will go on the "what we do" section of the website.  Examples include ad hoc shipments, Ukraine aid response, etc.

This is similar to loading the data model into Gatsby like #536 and #571.

((Taylor, do we need to mention something here to make the sidebar for Activities

[2022-09-12 15:15] wwwwwlwwwww commented on #571
@jtfairbank and everyone else - I've added four media asset files to Forestry as promised, 3 bitmap images and 1 PDF.

[2022-09-12 20:00] jtfairbank commented on #583
Duplicate of #616

[2022-09-12 20:00] #583 closed, assigned to nobody

[2022-09-12 20:07] jtfairbank commented on #601
Hey @JasonFritsche!  Just getting caught up.  I believe that there will be two ways to control this behavior:

1. Property coming back from the graphql query if this component is being dynamically generated from content in the CMS.
2. Property passed in by the component's parent if the component is being statically generated in the parent.

Either way, I believe the property will be passed in by t

[2022-09-12 22:19] ghost commented on #546
Hello Would love to help if there is any space?

[2022-09-12 22:23] jtfairbank commented on #546
Hey @HondaChan14 there absolutely is!  @KeShaKreates is working on this issue, but you can look through the unassigned ones and comment on any that interests you, then I'll assign it to ya!

[2022-09-12 23:27] JasonFritsche commented on #601
@jtfairbank Thanks for providing feedback. I want to clarify that we will need to set the optional round classname on either the `StaticImage` or the `GatsbyImage` and not as a prop that gets passed in to the generic `Card` component that was recently created.

[2022-09-12 23:44] jtfairbank commented on #601
Ah I gotcha, just took a more detailed look at your implementation.  Yes, that makes sense to have it on the `StaticImage` or `GatsbyImage` that gets passed in.  So there might not be too much to do here, or it might make sense to create wrapper classes for those components that control the properties set (i.e. setup the image to be a cover for the card, or a profile-pic like circle).

Btw I belie

[2022-09-13 00:03] JasonFritsche commented on #601
I don't believe it's possible to[ pass in props](https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-plugin-image/#restrictions-on-using-staticimage) to the `StaticImage` component. I think we have more freedom when it comes to the `GatsbyImage` component. My inexperience with Gatsby is showing, but this leads me to think we'd have to set the cover or round styling on each of the  `

[2022-09-13 00:44] jtfairbank commented on #601
Ah yes, @JasonFritsche, you're totally right about `StaticImage`.  My guess is we'll mainly be using `GatsbyImage` and otherwise will handle creating the `StaticImage` component in the parent of the `Card` component.

[2022-09-13 00:57] JasonFritsche commented on #601
Awesome, I'll see what I can come up with. Thanks @jtfairbank!!!

[2022-09-13 01:40] jtfairbank opened #617 "Source Needs Assessment Data"
We need to source data from the needs assessment at build time in order to display it on the region pages.  See [this issue](https://github.com/distributeaid/needs-assessment-storage/issues/62) which documents the Needs Assessment Storage API for retrieving anonymized survey data.  Shoutout to @coderbyheart for the implementation! :partying_face:

We'll be following this documentation to guide the

[2022-09-13 01:48] jtfairbank opened #618 "Migrate Gatsby from JS to TypeScript"
Gatsby added build-side support for TypeScript in March '22.  It'd be nice to use TypeScript consistently throughout our codebase.

### Documentation

  * Gatsby JS > TypeScript - https://www.gatsbyjs.com/docs/how-to/custom-configuration/typescript/#migrating-to-typescript
  * Gatsby Unit Testing TypeScript Setup - https://www.gatsbyjs.com/docs/how-to/testing/unit-testing/#using-typescript
  * Cod

[2022-09-13 05:50] jtfairbank opened #622 "Refactor Gatsby Build Code To Be Modular"
Raae suggested this in a discussion #593

### Checklist

- [x] Refactor files in `/gatsby` to export multiple functions (one per object we're creating or resolving).
- [x] Refactor `gatsby-node.js` so that more of the work is done in helper functions exported thru files in `/gatsby`

[2022-09-13 05:58] jtfairbank opened #623 "Use Gatsby's FilesystemRouteAPI for Dynamic Pages"
Raae suggested this in a discussion https://github.com/distributeaid/distributeaid.org/discussions/593

This makes a lot of sense and allows us to take advantage of page queries that can be hot-reloaded.

CodeSee map of relevant files: https://app.codesee.io/maps/public/005e9e30-3329-11ed-95e1-eb971fd737d9

### Checklist

- [x] Add your name to `/CONTRIBUTORS.md` if this is your first contribution

[2022-09-13 15:00] wwwwwlwwwww opened #625 "Needs Assessment: Clothing Data Visualization"
For each region, we would like to have a segmented bar chart (https://nivo.rocks/components/) with the clothing needs.  This should look pretty similar to page 25 of our Prezi static Q3 needs assessment report: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

You'll be working with the `DANeed` data available through gatsby's graphql api.

Checkout this [CodeSee map of relevant

[2022-09-13 15:01] wwwwwlwwwww opened #626 "Needs Assessment: Baby Clothing Data Visualization"
For each region, we would like to have a bar chart (https://nivo.rocks/components/) with the clothing needs.  This should look pretty similar to the first chart on page 26 of our Prezi static Q3 needs assessment report: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

You'll be working with the `DANeed` data available through gatsby's graphql api.

Checkout this [CodeSee map of

[2022-09-13 15:02] wwwwwlwwwww opened #627 "Needs Assessment: Diapers Data Visualization"
For each region, we would like to have a pie chart (https://nivo.rocks/components/) with the diaper needs.  On page 26 of our Prezi static Q3 needs assessment report, you can see that currently this information is presented in bar chart format: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.  It would be good to have an option for both pie and bar charts.

You'll be working with

[2022-09-13 15:03] wwwwwlwwwww opened #628 "Needs Assessment: Hygiene Data Visualization"
For each region, we would like to have a bar chart (https://nivo.rocks/components/) with the hygiene needs.  This should look pretty similar to the bar chart on page 27 of our Prezi static Q3 needs assessment report: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

You'll be working with the `DANeed` data available through gatsby's graphql api.

Checkout this [CodeSee map of rel

[2022-09-13 15:04] wwwwwlwwwww opened #629 "Needs Assessment: Food Data Visualization"
For each region, we would like to have a bar chart (https://nivo.rocks/components/) with the food needs.  This should look pretty similar to the chart on page 28 of our Prezi static Q3 needs assessment report: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

You'll be working with the `DANeed` data available through gatsby's graphql api.

Checkout this [CodeSee map of relevant f

[2022-09-13 15:05] wwwwwlwwwww opened #630 "Needs Assessment: Shelter and Storage Data Visualization"
For each region, we would like to have a bar chart (https://nivo.rocks/components/) with the shelter and storage needs.  This should look pretty similar to the first chart on page 29 of our Prezi static Q3 needs assessment report: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

You'll be working with the `DANeed` data available through gatsby's graphql api.

Checkout this [Code

[2022-09-13 15:10] wwwwwlwwwww opened #631 "Needs Assessment: Needs Met Data Visualization"
For each region, we would like to have a CirclePacking chart (https://nivo.rocks/components/) with the needs met data.  Pages 31-32 of our Prezi static Q3 needs assessment report shows how we currently present this information in table form: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

There are two relevant pieces of information for a given category of need:
 * whether it i

[2022-09-13 15:15] wwwwwlwwwww opened #632 "Needs Assessment: Number of Beneficiaries Data Visualization"
We would like to have a GeoMap chart (https://nivo.rocks/components/) to display information about the number of beneficiaries in different regions.  Right now, the data for each region exists on a separate page of our Prezi static Q3 needs assessment report, see page 33 for an example: https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/.

For each region, we'd like two circles cover

[2022-09-13 15:42] Nafisa-Huda commented on #353
I'd like to be assigned to this.

[2022-09-13 17:28] kriston-burnstein commented on #592
@jtfairbank David Victor (@webmekanic) and I would like to work on this issue together.

[2022-09-13 17:42] Webmekanic commented on #592
I will be working on this issue with Kriston

[2022-09-13 18:07] jtfairbank commented on #353
All yours @Nafisa-Huda !  Let me know if you need any help, not sure if there are parts of this that require maintainer permissions for the repository, but I can handle that side for you.

Do [checkout our dev community events](https://opencollective.com/distribute-aid-usa/events) which provide a great way to connect with other folks working on Distribute Aid's open source projects!

### Our Issue

[2022-09-13 20:08] fedechaves commented on #584
Hi @jtfairbank, could I work on this issue?

[2022-09-13 20:30] jtfairbank commented on #584
@fedechaves sure thing!

[2022-09-13 20:39] #622 closed, assigned to jtfairbank

[2022-09-14 01:25] Nafisa-Huda commented on #353
Hi, I'm almost finished completing this issue.  For the "Ask a question" form, what specific URL do you want me to include? In the OpenSauced project "Ask a question" form, they have the link to their discord server.

[2022-09-14 06:15] coderbyheart commented on #353
You can link to https://github.com/distributeaid/distributeaid.org/discussions

[2022-09-14 10:44] wwwwwlwwwww opened #638 "Needs Assessment: Warehouse Space Data Visualization"
We would like to have a chart with the warehouse space data.  In the past, we have collected this information but not featured it in our public report (https://prezi.com/i/7qqhisc0ssfr/q3-needs-assessment-report-2022/).

Relevant information for each group's needs assessment survey response:
* Warehouse size (square metres)
* Warehouse fullness (0%, 25%, 50%, 75%, 100%).
* The region (and possibly

[2022-09-14 14:26] Nafisa-Huda commented on #353
Thank you! Just made the pull request.

[2022-09-14 15:06] coderbyheart commented on #353
PR: #639

[2022-09-14 21:28] coderbyheart commented on #537
Removed "good first issue" tag because remaining tasks are not detailed enough for beginners.

[2022-09-15 01:20] JasonFritsche commented on #623
I can take this one!

[2022-09-15 10:56] wwwwwlwwwww opened #648 "Needs Assessment: Beneficiary Population Time-Series Data Visualization"
### Description

For each region, we would like to have a Line graph (https://nivo.rocks/components/) to display information about the number of beneficiaries in different regions across time.  From our quarterly needs assessment process, we have multiple quarter's worth of data for (1) the official figure of the population served by NGOs (from UNHCR) and (2) the people served by responding groups

[2022-09-15 10:56] wwwwwlwwwww opened #649 "Create issues for Needs Assessment visualizations."

[2022-09-15 10:58] #649 closed, assigned to nobody

[2022-09-15 15:02] wwwwwlwwwww opened #651 "Creating "What We Do""
### Description

Notes:
 * This is contingent on #616 being done first.
 * This uses the generic card template that was created with #547.

We would like to build out a section of the website that will explain what we do and will be titled "What We Do".  This will have four separate pages each devoted to one of four categories of DA's work: Powering Aid Supply Chains, Connecting Communities, Empow

[2022-09-17 16:21] coderbyheart opened #661 "Fix errors reported by Lighthouse CI"
#659 will enable [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci) for every build, however it will not mark a PR as failed because we first need to either fix the currently reported issues, or adapt the rules to ignore this kind of error.

You can also run Lighthouse yourself using Google Chrome:

1. build the website
4. run `npx node-static public`
5. open an **Icognito Window** in

[2022-09-18 05:47] raae commented on #661
When using GatsbyImage this should happen when default format setting is used.

[2022-09-18 05:49] raae commented on #661
I have seen this happen on other site if one asks for more data in the page query than is really needed on the page. All page data is also loaded as a page-data.json for when the sites rehydrates into a Single Page Application (SPA).

[2022-09-18 08:09] raae commented on #623
This should be easier when #662 is merged.

The file system route api creates pages in a similar way to what is done in #662, by creating pages from a list of nodes passing the node id as the page context and giving the template the responsibility to query for data.

The remaining issue to be solved before migrating to file system route api is to then to make sure the nodes have a field suitable f

[2022-09-18 08:14] raae opened #663 "Migrate from page context to page query"
Makes #623 possible and is best practice making the site take advantage of Gatsby things like hot reloading and incremental builds.

_Originally posted by @raae in https://github.com/distributeaid/distributeaid.org/discussions/593#discussioncomment-3557330_

[2022-09-18 08:46] #663 closed, assigned to nobody

[2022-09-18 13:50] jtfairbank commented on #617
Made a request to get broken down data for all reqions / quarters: https://github.com/distributeaid/needs-assessment-storage/discussions/90

[2022-09-20 07:51] wwwwwlwwwww opened #667 "Bug: Landing Site Home Page displays "Home Card" text publicly"
### What happened?

On the public-facing homepage of our website, the UK to Lebanon route card displays "UK ➜ Lebanon Home Card."  The inclusion of "Home Card" is a bug.

### Steps to reproduce

1. Visit the public landing page distributeaid.org
2. Scroll down

![Screenshot 2022-09-20 at 09 24 56](https://user-images.githubusercontent.com/112079473/191199457-e34f0daa-09e2-4792-8707-734dc533994d.pn

[2022-09-20 16:40] #667 closed, assigned to nobody

[2022-09-21 20:37] #601 closed, assigned to JasonFritsche

[2022-09-21 20:44] coderbyheart commented on #601
Fixed in #644

[2022-09-25 13:19] #350 closed, assigned to rcmtcristian

[2022-09-27 12:41] wwwwwlwwwww opened #690 "Bug: Some Website Title Sections Reverted to Body Text"
### What happened?

There are two sections of the website that used to be in title font but are now in body font.

Before (Home page):
![image](https://user-images.githubusercontent.com/112079473/192528462-814d0159-0883-4822-af56-5bf84eb193cf.png)

After (Home page):
![image](https://user-images.githubusercontent.com/112079473/192528727-d125237e-9e82-48dd-b18b-1e22de2f3ac8.png)

Before (About Us p

[2022-09-27 14:12] coderbyheart commented on #690
Caused by 4ca7fe145af3cf3a212dfc70e9f177a585a1761d

[2022-09-27 17:20] #690 closed, assigned to nobody

[2022-09-27 17:20] coderbyheart commented on #690
Thanks for reporting this!

[2022-09-29 23:54] JasonFritsche commented on #623
@raae I'm having a bit of trouble with this one. I was able to get the regions page to show up using a filename similar to ```src/pages/regions/{(MarkdownRemark).parent__(File)__name}.tsx```, i can't recall the exact path because I started exploring alternative options such as using the slug. With regard to doing something like ```{Region.slug}.tsx```, where would the slug come from?

[2022-09-30 12:02] wwwwwlwwwww opened #708 "Create content section holders for website"
### Description

In #523 and its subissues, we created generic "content blocks" for the website, like an image with a caption, a text area, or a Youtube embedded video.  This set of issues involves creating "content sections," which are areas on the site that will house content blocks.  The defining feature of a content section is that it is an area which horizontally covers the entire page of ind

[2022-09-30 12:07] wwwwwlwwwww opened #709 "Content Section: Grid"
### Description

Please see parent issue #708 for additional information/context before proceeding.

- Grid of Content Blocks. This needs to arrange an indeterminate number of content blocks in grid form. This should be a margined content section.  The parameters are:
    - An ordered list of content blocks to be displayed
    - Column bound or row bound?
    - The number of rows/cols (it'll be on

[2022-09-30 12:58] raae commented on #623
It would have to be set when creating the node. Ie. when using the function `createNode` to create the region/subregion/route etc.

It's seems to be in place for `DARoute` nodes already: https://github.com/distributeaid/distributeaid.org/blob/70e7bd4d9d1177752b473df595b83ec6280b7675/gatsby/transform-nodes.js#L123

So `{DARoute.slug}.tsx` should work already, and you could replicate setting the slu

[2022-09-30 13:37] JasonFritsche commented on #623
Thank you! Thank you! Thank you! I'm a total noob when it comes to Gatsby. I've read through the Filesystem Route API docs, stackoverflow posts, and have been scouring the internet to try to figure this one out. I've been stumped for bit.

[2022-09-30 13:47] jtfairbank commented on #623
Hey @JasonFritsche you can see how we generate slugs for the `DARegion` and `DASubRegion` in the react side.  Look at the regions page, and region / subregion template.  We're using slugify + their names to create the slugs to link between them.

I'd recommend just setting a `slug` field at the node creation stage in `/gatsby/transform-nodes.js` so that the field is accessible to the file-system-r

[2022-09-30 13:54] JasonFritsche commented on #623
Thanks @jtfairbank! I'll let you know if I need a hand.

[2022-09-30 17:06] 201B153 commented on #6
Can I work on it?

[2022-09-30 21:34] coderbyheart commented on #709
Can you provide a concrete use case and example for the content blocks? This would help the implementing developer to see how this feature is going to be used. Because in practice, we have this feature already, because CSS grids [and Tailwind](https://tailwindcss.com/docs/grid-template-columns) offer it.

[2022-10-02 10:24] coderbyheart opened #714 "[Tailwind] The `purge`/`content` options have changed in Tailwind CSS v3.0."
Update the configuration to get rid of this warning when the development server is started:

[code]

[2022-10-02 10:24] coderbyheart opened #715 "[Tailwind] The `darkMode` option in your Tailwind CSS configuration is set to `false`, which now behaves the same as `media`."
Update the configuration to get rid of this warning when the dev server is started.

[code]

[2022-10-02 10:26] coderbyheart opened #716 "[Codesee] Module not found: Can't resolve 'vue'"
Figure out what causes this error when starting the dev server and fix it.

[code]

This is a bug in `@codesee/tracker`, and should be fixed upstream.

[2022-10-02 10:27] coderbyheart opened #717 "[Helmet] Gatsby now has built-in support for modifying the document head."
Figure out how to get rid of this warning shown when starting the dev server.

[code]

[2022-10-02 10:41] raae commented on #623
I would recommend using the name of the markdown file as the slug. That way you are sure it's unique. No need to slugify, as the file system route api does that by using [`slugify` by sindresorhus](https://github.com/sindresorhus/slugify).

[2022-10-02 13:36] dorian-edwards commented on #715
Hey @coderbyheart, can I work on this?

[2022-10-02 14:00] coderbyheart commented on #715
Sure!

[2022-10-02 16:05] dorian-edwards commented on #715
Do we want darkMode to be media or class? If we want media should I set it explicitly or remove it altogether since media is the default?

[2022-10-02 16:09] dorian-edwards commented on #714
Hey I can grab this one too if that's alright?

[2022-10-02 17:56] preeformance commented on #661
Hi @coderbyheart, I have experience and interest in resolving lighthouse errors, especially for accessibility. I noticed on the contributing section, it talked about joining the slack. Is that a pre-requisite for jumping into issues or am I free to go for it now?

[2022-10-02 18:24] jayeshchoudhary commented on #717
I would love to work on this, @coderbyheart can you assign me this issue

[2022-10-02 20:02] coderbyheart commented on #661
Hei @preeformance, not it's not a requirement, we do some org-wide discussions there, but the more detailed tech stuff happens here on GitHub. So feel free to jump in! Thanks for giving it a shot!

[2022-10-02 20:03] coderbyheart commented on #715
Good questions, right now we do not have support for dark mode, and proper support would take some extra work, so it's O.K. to disable it for now.

[2022-10-02 20:08] coderbyheart commented on #714
Yes, sure!

[2022-10-02 20:59] #715 closed, assigned to dorian-edwards

[2022-10-02 21:14] jtfairbank commented on #661
Hey @preeformance I assigned this issue to you!  Only contribution requirement we have is to add your name to the CONTRIBUTORS.md file when submitting your first PR!  That takes care of the code of conduct / copyright stuff.  :smile:

Thanks for helping out!

[2022-10-02 21:16] coderbyheart commented on #661
Hey @preeformance  this is a BIG issue, so don't think you need to fix ALL the issues! Any improvement here is welcome!

[2022-10-02 21:25] #714 closed, assigned to dorian-edwards

[2022-10-02 21:33] preeformance commented on #661
Thanks for that req heads up, @jtfairbank! You commented just in time.

@coderbyheart I appreciate that! I plan to submit PRs page by page for issue areas so that if anything gets wild/broken, it can get tracked. I also have friends who may be interested in helping out with this and I plan to bring them on board.

[2022-10-02 21:57] coderbyheart commented on #661
I solved the image issue on the #699 branch, just using `GatsbyImage` does not cut it one needs to explicitly request `gatsbyImageData` in page GraphQL requests, or when rendering Markdown in non-page elements, replace the default URLs. It's doable but takes a bit of effort. The changes I did on the branch ([use of GatsbyImage](https://github.com/distributeaid/distributeaid.org/commit/31408843a43d

[2022-10-02 23:57] JasonFritsche commented on #623
@jtfairbank I'm going to have to take you up on your offer of help. I've got `pages/regions/{daRegion.name}.tsx` working. I cannot seem to figure out how to generate routes to subregions.

[2022-10-03 06:27] coderbyheart commented on #661
@preeformance I've decided to unassign you, so others don't get the impression that this is fully covered. /Cc @jtfairbank

[2022-10-03 06:57] raae commented on #623
I could also pair with you on this, but heading for a vacation until Saturday - meaning I could do it Sunday at the earliest.

[2022-10-03 07:08] raae commented on #661
Images in markdown can be replace with the Gatsby Image component using [gatsby-remark-images](https://www.gatsbyjs.com/plugins/gatsby-remark-images/). This requires there to `MarkdownRemark` nodes with the markdown content.

[2022-10-03 08:59] coderbyheart commented on #661
I tried that but it didn't work for the custom nodes we generate for Forestry content.

[2022-10-03 12:14] raae commented on #661
Setting all these values as part of `onCreateNode` kinda circumvents all the resolver goodies you'll get with the `gatsby-transformer-markdown` plugin. Such as the html resolver you'll find if you inspect a `MarkdownRemark` node in the graphiQL explorer, and the way relatives paths in the [frontmatter are transformed into links to other File nodes](https://queen.raae.codes/emails/2022-01-19-images

[2022-10-03 12:33] wwwwwlwwwww commented on #709
Absolutely!  I didn't have time to do much on the website today, but this week I should be able to get a more concrete use case or two up.

[2022-10-03 12:37] dorian-edwards commented on #716
Can I have a go at this one too?

[2022-10-03 12:41] coderbyheart commented on #716
Sure!

[2022-10-03 15:41] jtfairbank commented on #623
Hey @JasonFritsche, I'm back in the US.  I'll slack you to find a time we can pair?

@raae if we can't figure it out I'll reach out to schedule a session with you!

[2022-10-03 17:59] coderbyheart commented on #661
Just did a quick search ... we have 0 inline images in our content right now (regex search for `!\[[^\]]+\]\((?<url>[^)]+)\)`). So letting MarkdownRemark do the magic won't work. Because we are using Forestry, all images are provided through [a field of type `file`](https://github.com/distributeaid/distributeaid.org/search?l=YAML&q=%22type%3A+file%22). Those need to be processed manually, I guess.

[2022-10-03 18:37] EmReedCodes opened #725 "Instructions to open gitpod from VS Code desktop unclear"
### What happened?

![image](https://user-images.githubusercontent.com/96320126/193652015-90c43e85-cfc8-4915-b030-062b55520965.png)
Choosing Linux fixed the error but when asked it seemed like you should your operating system so many will click on Windows.
There should be some directions in the documentation for those starting out.
I would be happy to take on this issue and add the fix.

### Steps

[2022-10-03 18:37] hola-soy-milk commented on #725
Feel free, thanks @EmReedCodes !

[2022-10-03 18:56] #725 closed, assigned to EmReedCodes

[2022-10-03 23:25] dorian-edwards commented on #717
Can I have a go at this one too?

[2022-10-04 04:59] RabeaGleissner commented on #585
I'll pick this one up 📺

[2022-10-04 08:11] coderbyheart commented on #717
Sure!

[2022-10-04 13:56] fredericbonnet commented on #618
Hey, happy Hacktoberfest! I'd like to take care of this issue, can you assign it to me?

[2022-10-04 14:13] fredericbonnet opened #732 "Add Storybook for easier component dev/test"
### Description

It's Hacktoberfest, and I'd like to dedicate part of my time to integrate Storybook with your project. Is it something that you folks would find useful?

(I already have a proof of concept working BTW, see below)

### Front end feature screenshots

### Button component

#### Primary story

![button_primary](https://user-images.githubusercontent.com/11368533/193842053-1e8dd9ab-39a8

[2022-10-04 15:12] jtfairbank commented on #618
@fredericbonnet there you go!  Don't forget to add your name to `/CONTRIBUTORS.md` file if this is your first time contributing :smile:

[2022-10-05 12:02] fredericbonnet commented on #618
PR #736 is ready for review. For some reasons the E2E tests fail on CI even though they pass on my local Gitpod (I haven't touched anything that could explain that)

[2022-10-06 11:16] #618 closed, assigned to fredericbonnet

[2022-10-06 13:08] dorian-edwards commented on #717
It looks like Gatsby's built in Head API requires an export from every page that needs to update the document head since it can only be exported from a page and not a component. So the existing format wrapping everything in a Layout component doesn't directly translate.

This seems like a substantive change and I just wanted to confirm this is okay before attempting this, or get some feedback for

[2022-10-06 16:37] jtfairbank commented on #716
Marking this one as "wontfix" and closing it.  It's a harmless error that would be difficult to remove, see the discussion around here: https://github.com/distributeaid/distributeaid.org/pull/724#issuecomment-1265493901

[2022-10-06 16:37] #716 closed, assigned to dorian-edwards

[2022-10-06 16:47] jtfairbank commented on #732
Hey @fredericbonnet I think storybook could be really useful but am always worried about the maintenance overhead of adding new tools + any increased difficulties for new contributors.  Could you swing by one of our Code Jams this month and walk me through this integration a bit more?  Alternatively, you could jon me and @hola-soy-milk on a live stream to teach us about Storybook?

All Hacktober e

[2022-10-06 16:50] fredericbonnet commented on #527
I'd like to work on this issue but I'm not sure to understand exactly what you want. If the arrows need to be on the dynamic arcs themselves then I don't think that's supported by the [arc layer](https://github.com/vasturiano/globe.gl#arcs-layer), however if you just need static objects on the globe at the origin and destination points of each shipment then there's a variety of options to choose f

[2022-10-06 17:21] coderbyheart commented on #717
Can you point to the relevant docs?

[2022-10-06 17:59] dorian-edwards commented on #717
https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-head/#usage-notes
https://www.gatsbyjs.com/blog/introducing-the-gatsby-head-api/

[2022-10-06 19:02] fredericbonnet commented on #527
BTW here's a proof of concept with the country codes as labels (red=origin, blue=destination):

https://8000-fredericbon-distributea-e16ifk6xhh7.ws-eu67.gitpod.io/

[2022-10-07 06:53] coderbyheart commented on #717
They also mention how to de-duplicate definitions, so ...

![mando-way-this-is-the-way](https://user-images.githubusercontent.com/188915/194486133-9b7f7b41-00c0-4cfc-8bdb-521a21c89031.gif)

[2022-10-07 09:18] fredericbonnet commented on #732
I'm not sure I will be available for the Code Jams, I'm starting a new job on Monday and the onboarding process will last several weeks. But last night while I was working on #527 I integrated a couple of visualization components here:

https://6006-fredericbon-distributea-e16ifk6xhh7.ws-eu70.gitpod.io/?path=/story/components-vis-shipmentsonglobevis--two-arcs

You can play a bit with the editor an

[2022-10-08 09:17] coderbyheart opened #756 "Fix TypeScript errors"
Right now we have [27 errors in 14 files](https://github.com/distributeaid/distributeaid.org/actions/runs/3212078953/jobs/5250676583#step:8:1).

After [having fully switched to TypeScript](https://github.com/distributeaid/distributeaid.org/pull/736), we should aim to have 0 errors reported for our TypeScript code.

Pick any error you like, fix it in a PR and reference this issue in your PR. After

[2022-10-08 10:09] coderbyheart commented on #717
Closed via #751

[2022-10-08 10:09] coderbyheart commented on #717
Thanks @dorian-edwards!

[2022-10-08 10:09] #717 closed, assigned to dorian-edwards

[2022-10-08 20:35] alissonmdo commented on #756
Hi @coderbyheart! I created a PR that solves the type errors when importing svg files. It solves almost half the errors. Will try to check the rest when I have some time.

ps: I'm super happy in helping a project that help people in need!

[2022-10-08 21:34] Huluvu424242 commented on #756
Hi @alissonmdo! I have try it to solve too in [PR 758](https://github.com/distributeaid/distributeaid.org/pull/758). I have used an alternate solution or workaround? Please cherry pick if parts are usefull.

[2022-10-09 10:12] coderbyheart commented on #756
Remaining errors fix in #755

[2022-10-09 10:12] #756 closed, assigned to nobody

[2022-10-11 17:33] Webmekanic commented on #592
@jtfairbank  we are currently checking the issue and we need some clarifications regarding the components to add the tailwindcss/typography styling to the react components.

[2022-10-11 17:36] kriston-burnstein commented on #592
@jtfairbank we're specifically trying to figure out how the last commit on issue #643 affects this ticket and then how to locate the components that still need this change

[2022-10-13 19:13] hola-soy-milk opened #763 "Gitpod failing to run e2e tests"
### What happened?

I ran `yarn test:e2e` and the tests failed.

What's missing is to install the necessary dependencies:

    npx playwright install-deps

We'd need to add a config to our `.gitpod.yml` [configuration file](https://www.gitpod.io/docs/introduction/learn-gitpod/gitpod-yaml).

### Steps to reproduce

1. Load the [Gitpod container](https://gitpod.io/#https://github.com/distributeaid/d

[2022-10-16 18:27] #623 closed, assigned to JasonFritsche

[2022-10-16 19:13] #617 closed, assigned to jtfairbank

[2022-10-16 19:24] jtfairbank commented on #732
Hey sorry for the delay getting back to you @fredericbonnet, I've been traveling the past two weeks, should get a chance to look at all this during this week!

[2022-10-17 07:47] RabeaGleissner commented on #585
All done!

[2022-10-17 07:47] #585 closed, assigned to RabeaGleissner

[2022-10-17 12:37] wwwwwlwwwww opened #770 "Loading Data Models Into Gatsby"
### Description

In the same vein as #508, #571, #582, and #616, we want to load a set of data models into Gatsby

Generic Page:
 * title - Page Title
 * slug - Desired URL Slug
 * desc - Metadata description for SEO
 * sections (in the CMS, this is a "blocks" section - a list of content sections)

Section: Grid
 * metadata
      * margins - string is either "Margined" or "Bannered"
      * colOrR

[2022-10-17 12:59] wwwwwlwwwww opened #771 "Create "Our Story" Page"
### Description

This issue involves creating an "Our Story" page (to go under the About section on the website) using the new infrastructure we've been building on the CMS side of things.  The purpose of this process is to set up a system whereby non-tech team members can input text, images, and other content into our CMS (Forestry) in an organised way and then pass it off to coders on Github to

[2022-10-17 14:18] RabeaGleissner commented on #763
I've never worked with Gitpod but it looks very cool. Will have a look at this issue!

[2022-10-17 14:32] fredericbonnet commented on #732
No worries! Let me know when you want to take a look so that I can start the GitPod instance (they stop after 24h)

[2022-10-17 14:53] jtfairbank commented on #732
Hey @fredericbonnet I should be able to clone your branch locally.  Could you upen up a draft PR between your branch and our `saga` branch?  That'll help me with the review and we can move implementation discussion to the PR.

In general I like the concept of Storybook.  It should work well with how we plan our development and make it easier for folks to work on components before they are used by

[2022-10-17 14:54] wwwwwlwwwww commented on #709
Sorry for the delay in getting this done.  I think issue #771 should be a good use case for how the ideas of content blocks, content sections, and pages come together.  Some of these concepts are more involved on the CMS side than in code; for example, if grid functionality can be achieved super easily and repeatably on the code side through CSS grids or Tailwind, that's great.  It'll be more a ma

[2022-10-17 15:04] jtfairbank commented on #24
Closing this one out as it's based on an old approach.  Back then we were loading data from Contentful including the shipping data, now we're building a shipping data pipeline that'll dump `.json` files straight to the repo which can be loaded into Gatsby.

[2022-10-17 15:04] #24 closed, assigned to hola-soy-milk

[2022-10-17 15:28] jtfairbank opened #772 "Refactor Custom CSS Classes in Stylesheets > Tailwind Classes"
### Description

Our site has some legacy code that uses CSS classes to style some pages / components in `/src/stylesheets/`.  Since then we've adopted Tailwind as our main styling library.  It'd be helpful to refactor these stylesheets so the pages / components use Tailwind instead, OR add a comment at the top of the stylesheet to highlight why CSS classes are a better solution for that particula

[2022-10-17 15:33] fredericbonnet commented on #732
Done here #773

[2022-10-17 16:23] coderbyheart commented on #709
In my experience with DA there has not been the need for this kind of workflow in the past. What worked was getting all the finalized content collected in Drive / Notion and then have a developer implement it. I am sceptical whether the workflow you outline will be used regularly and to me it sounds much like premature optimization: we would be the building the infrastructure to support *future* c

[2022-10-17 16:28] 20RitikSingh commented on #772
I want to work on this.

[2022-10-17 17:45] jtfairbank commented on #709
Hey @coderbyheart!  I think we're trying to achieve a middleground here, in order to negotiate a separation of concerns between content contributors and code contributors.  The goal is to achieve the following workflow:

1. A data stream is created by content contributors.  *ex: needs assessment data server, shipment data pipeline, or forestry for more "document" based data*
2. Code contributors &

[2022-10-17 18:04] jtfairbank commented on #772
Sounds great @20RitikSingh!  I've assigned you to the issue.  If you need any help, do [checkout our #Hacktober event schedule](https://opencollective.com/distribute-aid-usa/events).

I'd recommend taking it 1 stylesheet at a time and getting that first pull request / draft up sooner rather than later so it's easy to collaborate. :smile:

[2022-10-18 17:56] #763 closed, assigned to RabeaGleissner

[2022-10-18 17:59] jtfairbank commented on #661
Hey @coderbyheart I think I can use the schema modifications like you suggested to load all of the images into the Gatsby API as "GatsbyImage"s.  Will try to take a look at this during the week.

@preeformance how's your work on the lighthouse issues going?  Don't want to get in your way!

[2022-10-18 18:52] jtfairbank opened #775 "Raise Route Prices + Funding Explainer"
### Description

- [x] Raise the prices of the Calais route to 100GBP / pallet. (done via forestry)
- [ ] Add an explainer to the route text that we're applying for shipment funding to potentially reduce costs.

### Front end feature screenshots

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 19:11] #775 closed, assigned to jtfairbank

[2022-10-18 19:13] jtfairbank opened #777 "Refactor Route Pages"
### Description

It'd be helpful to refactor portions of the route page into their own components, similar to the home page or about-us page.  There's some existing routes components in `/src/components/routes` but those have more to do with structuring the content than separating it.  It'd be good to have separate components for each section of content, which still use the existing components to

[2022-10-18 19:44] preeformance commented on #661
@jtfairbank I have my eye on the SEO ones next but haven't written anything yet. If you want to go for it, feel free!

[2022-10-18 20:24] jtfairbank commented on #592
Hey @kriston-burnstein and @Webmekanic sorry for the delay in getting back to you.  I think the overall idea here is to get rid of a lot of individual tailwind typography classes (like manually setting the font-size for each heading / paragraph / list / whatever), and instead use tailwind-typeography classes to apply those as a whole to different pages or content sections.

So instead of

[code]

[2022-10-18 20:25] coderbyheart opened #778 "Provide the names, descriptions, funding goals etc. for the featured projects"
The are being collected in
https://drive.google.com/drive/folders/19nyzG1GKsNrEU2ubMyGYtnUTpW1_-JWj?usp=sharing

[2022-10-18 20:28] coderbyheart opened #779 "Provide the original images as JPEG"
The images to be used for the projects need to provided as JPGS.
Right now most of them are only provided as PNGs [in the Google Drive](https://drive.google.com/drive/folders/1IiiZvYWRnXfMIrG9aesxQql-rMO_Hyi-).

[2022-10-18 20:31] coderbyheart opened #780 "how will users donate"
The start page shows our current donation options, however page 2 shows other means to donate.

That is the key call-to-action for this entire page so we need clarity on what we want users to do.

- [x] There needs to be a decision on how we want users to donate.

## Decision

we would like to include three: open collective, paypal and our bank info. For open collective we will send you an updated

[2022-10-18 20:31] #780 closed, assigned to nobody

[2022-10-18 20:33] coderbyheart opened #781 "Provide updated link for Open Collective"
https://opencollective.com/distribute-aid-usa/projects/giving-tuesday-2022/donate

- [ ] Implement OpenCollective Link on page

[2022-10-18 20:33] coderbyheart opened #782 "Provide updated link for Paypal"
https://paypal.me/distributeaid

- [ ] Implement Paypal donation button

[2022-10-18 20:36] coderbyheart opened #783 "Overview page and breakout page does not show all three donation options"
## Resolution

![Image](https://user-images.githubusercontent.com/188915/196795665-259437f1-d648-411a-9d9d-df28d2a5ad1e.png)

## Question

We have three donation options, only two are shown [in the design](https://drive.google.com/file/d/1aHIAWor62ieyU1b_gDOXC6eba0Ianmql/view?usp=sharing); and we do not use Wise.

Is this intentional?

## Overview page

![Image](https://user-images.githubuserconte

[2022-10-18 20:37] coderbyheart opened #784 "mobile design for the breakout page is missing"
## Desktop design

![Image](https://user-images.githubusercontent.com/188915/196540530-577e3039-3c42-4c1f-853e-8fcf2c65719c.png)

[2022-10-18 20:38] coderbyheart opened #785 "How will we allow users to select a certain project to donate to?"
We show donations per project, but none of the donations options allow to select a project.

## Solution

- [x] Change wording around donation progress: projects have a need amount in EUR.
- [x] Add fund allocation ledger per project: date, amount (in EUR), description
- [ ] ~~Progressbar becomes percentage allocated for project from total donated amount~~ Most projects have unlimited funding need

[2022-10-18 21:00] coderbyheart opened #786 "what should be the URL of the Giving Tuesday 2022 page?"
Answer: https://distributeaid.org/donate

[2022-10-18 21:01] coderbyheart commented on #786
My suggestion would be to replace https://distributeaid.org/donate. In that case: where should we mention Patreon?

[2022-10-18 21:01] coderbyheart opened #787 "what should happen to the existing donation page?"
https://distributeaid.org/donate

[2022-10-19 17:21] jtfairbank commented on #786
@coderbyheart agreed, we want to replace our donation page.  I think we're transitioning away from Patreon so it's fine if it's not listed.  Folks can setup recurring donations via Open Collective!

[2022-10-19 17:23] jtfairbank commented on #787
@coderbyheart we can replace it.  I believe most of its content, except Patreon, will be included on the "Giving Tuesday" page.  Even tho the new donate page is being set up as part of our fundraising push around Giving Tuesday, we'll continue to maintain it by updating totals and changing out projects on a regular basis.

[2022-10-19 17:29] jtfairbank commented on #785
@coderbyheart We can create different projects on Open Collective, or ask donors to specify the project on the memo line of a PayPal / bank transfer / check transaction.  I believe Ellie & Florence were also looking into Donor Box which supports project funding models and can be embedded directly into our site.

We do want to be careful about turning our projects / responses into a popularity cont

[2022-10-19 17:31] jtfairbank commented on #783
@coderbyheart we use Wise for our international banking, that's what the bank information points to on the current donate page.  Might just be a case of using the Wise logo on one screen and the bank info symbol on another, even tho they point to the same thing?  Will probably need Florence or Ellie to confirm tho, and answer this question if that's not the case.

[2022-10-19 19:19] coderbyheart commented on #778
Status update:

[2022-10-19 19:57] coderbyheart opened #788 "Provide alt text for images"
The images we show for the fundraisers need [alternative texts](https://web.dev/text-alternatives-for-images/) to be accessible. Please provide them.

Texts can be provided either here in the issue, or via PR to the `alt` texts in https://github.com/distributeaid/distributeaid.org/tree/giving-tuesday-2022/content/blocks/fundraisers

The design team has provided the alternative texts [in this docum

[2022-10-19 20:13] coderbyheart commented on #782
https://paypal.me/distributeaid

[2022-10-19 20:13] coderbyheart commented on #781
https://opencollective.com/distribute-aid-usa/projects/giving-tuesday-2022/donate

[2022-10-19 20:20] coderbyheart commented on #783
New design now has Bank Transfer.

![Image](https://user-images.githubusercontent.com/188915/196795665-259437f1-d648-411a-9d9d-df28d2a5ad1e.png)

Regarding Wise on the Donate page: I'd rather that we mention Bank Transfer  instead of Wise because Wise is not universally known. I'll see if can find a good solution.

[2022-10-19 20:21] coderbyheart commented on #784
Status update:

[2022-10-19 20:25] coderbyheart commented on #787
The existing donating page will be replaced will replaced with the new one

[2022-10-19 20:25] #787 closed, assigned to nobody

[2022-10-19 20:27] coderbyheart commented on #785
I agree. I'd prefer that we have one donation pot, and DA can allocate funds as we see fit. We can still communicate funding **needs** per project, but only a number, without progress.

[2022-10-19 20:28] coderbyheart commented on #785
Status:

[2022-10-19 20:39] jtfairbank commented on #785
@coderbyheart what if we provide pathways for folks to donate to the general fund thru projects, but then track the "progress" of the project's funding by how much we've been able to budget to the project from the general fund?

That way each project can have goals + show progress towards those goals, but that's getting filtered through our team so we can prioritize the budgets and balance them ou

[2022-10-19 22:02] coderbyheart commented on #785
I think that would be great in terms of transparency! We would then create a simple ledger per project, which lists these budgeting needs and allocations. The overall need is then the sum of all project needs.

[2022-10-19 22:59] jtfairbank commented on #785
That sounds perfect!  And it'll be easier to update budget allocations on a regular cycle to show progress than to try and keep up with each / every random donation to show fundraising progress.

[2022-10-20 03:35] Tycee-Eecyt commented on #788
I'm interested in working on this issue. If anyone could assign this to me, I'd greatly appreciate it.

[2022-10-20 05:38] RabeaGleissner commented on #777
I'll start with the Delivery section!

[2022-10-20 09:28] jtfairbank commented on #788
@TylerGeorgeAlexander go for it!

[2022-10-20 20:37] coderbyheart commented on #785
ACK from project team:

Option 2 was: "remove the individual funds distribution (can we, and do we want to, actually guarantee that donations or allocated ONLY to a specific project, if users chose so)"

[2022-10-20 20:40] coderbyheart commented on #785
Updated solution.

[2022-10-20 20:45] coderbyheart opened #793 "Add bank transfer button"

[2022-10-22 23:20] #785 closed, assigned to nobody

[2022-10-22 23:24] coderbyheart opened #798 "CTA does not work if content is too long"
The call to action in the desktop design does not work, if the content is longer than a few paragraphs.

When the user is at the end of the page the donation options are no longer visible.

![Image](https://user-images.githubusercontent.com/188915/197365907-7146d232-7c46-4e5f-a408-ef9c68f46d49.png)

[2022-10-22 23:25] coderbyheart commented on #798
"Solution" could be to ensure the donation box always is at the bottom of the scroll view. However this is tricky of the window is not large enough to fit the donation box.

[2022-10-23 12:24] #779 closed, assigned to nobody

[2022-10-23 18:03] #732 closed, assigned to fredericbonnet

[2022-10-24 09:55] wwwwwlwwwww commented on #546
@KeShaKreates Is this coming along well?  I was in a team meeting in Belgrade today discussing our quarterly reporting, and people are super excited about having team members on the website!

[2022-10-24 09:57] coderbyheart opened #800 "The Paypal page looks very sad, please add some content"
![image](https://user-images.githubusercontent.com/188915/197500476-3b179670-b9b6-4ebe-86da-3ddb1bdfa580.png)

There should be a description about the organization, about it's non-profit status and a back link to distributeaid.org in case people are given this link without having been to our website previously.

/cc @jtfairbank

[2022-10-24 10:02] coderbyheart opened #801 "The OpenCollective project is blank, please add content"
[![Image](https://user-images.githubusercontent.com/188915/197501589-74373013-10ef-40cf-9b1f-89248abc6a7a.png)](https://opencollective.com/distribute-aid-usa/projects/giving-tuesday-2022)

[2022-10-24 11:19] wwwwwlwwwww opened #802 "Create "Our Mission and Values" Page"
**Please hold off on beginning/triaging this issue until we have resolution on the discussion in #709 **

### Overall Page
The content for this page is available at the following file path:
content/pages/our-mission-and-values.md

This includes the URL slug, text, images, etc.

If the content on the page changes in that path (e.g. we swap out one image for another), we want the website to update.

[2022-10-24 11:29] wwwwwlwwwww opened #803 "Create "Contact Us" Page"
### Description

** Please hold off on beginning/triaging this issue until we have resolution on the discussion in #709 **

### Overall Page
The content for this page is available at the following file path:
content/pages/contact-us.md

This includes the URL slug, text, etc.

If the content on the page changes in that path (e.g. we swap out one image for another), we want the website to update.  T

[2022-10-24 20:41] KeShaKreates commented on #546
@wwwwwlwwwww Yes it is! I should have it completed by this weekend. I am excited as well!

[2022-10-26 16:26] linds0202 commented on #777
I would like to work on refactoring the 'Costs' and 'About Pallets' components

[2022-10-26 16:51] RabeaGleissner opened #807 "Use numbers from `<ol>` HTML element rather than hard coded numbers"
### Description

In the Reservations section on the Routes pages, there are some step by step instructions with headings starting with numbers. For example here: https://github.com/distributeaid/distributeaid.org/blob/8b155f31e5b4cf68536b8deef5ab78a2906d6d1f/src/components/routes/Reservations.tsx#L64

These numbers are currently hard-coded as part of the content but it would be more idiomatic to u

[2022-10-26 16:56] RabeaGleissner commented on #777
Hoping to raise a PR for Frontline and Staging Hubs sections soon!

[2022-10-26 21:55] Aksa12 commented on #807
Hey, I would like to work on this issue

[2022-10-26 22:06] coderbyheart commented on #807
Great, go ahead @Aksa12!

[2022-10-26 22:15] #786 closed, assigned to nobody

[2022-10-26 22:16] #783 closed, assigned to nobody

[2022-10-27 10:47] coderbyheart commented on #788
The design team has provided the alternative texts [in this document](https://docs.google.com/document/d/15jMG9zKK-Qc0Ib8bWiRcVMqQod0W3iCq2gUu_WkKguY/edit?usp=sharing).

[2022-10-27 20:47] #807 closed, assigned to Aksa12

[2022-10-27 21:29] coderbyheart commented on #788
Fixed in c27326e994c3b474e41d01a495214a706ec4fdd5

[2022-10-27 21:29] #788 closed, assigned to TylerGeorgeAlexander

[2022-10-28 14:06] wwwwwlwwwww opened #812 "Load Additional Region Data Model Fields into Gatsby"
### Description

The Region and Sub-Region data models on our CMS, Forestry, have some new fields designed to increase consistency and compatibility! We need to load them into Gatsby so we can consume that data to generate more finalized region pages.  This is in the same vein as #358 and #508.

[Please see this CodeSee Map of relevant files.](https://app.codesee.io/maps/public/a3033320-5913-11ed-

[2022-10-29 05:02] RabeaGleissner opened #815 "Add E2E test for Routes pages"
### Description

Please see the second point in this comment for more info: https://github.com/distributeaid/distributeaid.org/pull/791#pullrequestreview-1152337107

### Front end feature screenshots

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-30 23:16] Myrfion commented on #815
Hi, I will try to approach this one

[2022-10-30 23:29] coderbyheart commented on #815
Great, @Myrfion, I've assigned the issue to you!

[2022-10-31 02:16] #815 closed, assigned to Myrfion

[2022-10-31 02:16] jtfairbank commented on #815
Closed by #818

[2022-10-31 02:24] jtfairbank commented on #772
Hey @20RitikSingh how's this one coming along?  If you need any help @RabeaGleissner or @linds0202 might be interested in contributing here.  They just did a great job on #777 which is related to this one!

[2022-10-31 02:28] jtfairbank commented on #777
Hey @RabeaGleissner @linds0202 thanks so much for tackling this one!  If you want to continue with refactoring-related work, I'd suggest looking at #772?  If figure there's enough there that y'all can split it up with @20RitikSingh?

[2022-10-31 02:28] #777 closed, assigned to linds0202

[2022-10-31 02:32] jtfairbank commented on #802
Hey @wwwwwlwwwww it looks like some of these might be more to track content creation on Forestry.  Or at least that's a part of what's required to achieve a resolution?

If so, would it make sense to create a "Content Creation" tag to mark these sort of issues, and build out a checklist of content to work through them?  Might even be able to include a custom section in the Issue Creator flow askin

[2022-11-01 17:58] hola-soy-milk opened #821 "First yarn install takes very long"
### What happened?

Tried cloning the app from scratch and running yarn install.

Took about 5 minutes on a M1 macbook pro with decent internet connection

### Steps to reproduce

1. Clone the project
2. Run yarn install

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-02 16:33] linds0202 commented on #772
If @20RitikSingh doesn't mind, I am going to finish the refactoring for the routes stylesheet

[2022-11-02 22:30] jtfairbank commented on #821
Looking through our `package.json` file and we might be able to remove the following packages.  If anyone wants to pick up on this I'd recommend going through removing 1 group of packages at a time with `yarn remove packageName` and making sure the tests still work (`yarn test` and `yarn test:e2e`).  Make sure he dev server is on when you run the end-2-end tests!

* `@types/lodash` and `lodash`
*

[2022-11-08 01:38] Tycee-Eecyt commented on #772
Hey, I'd like to work on the nav.css

[2022-11-08 10:52] wwwwwlwwwww commented on #802
@jtfairbank just getting back to this after vacation.  In this case, the content creation was done and in Forestry when I created the issue, so the issue was solely about translating it into an actual page on the code side.  So I don't think a Content Creation tag would've been necessary for this specific one, but it's a good idea of a tag to have.

[2022-11-09 14:29] wwwwwlwwwww commented on #546
@KeShaKreates Looks AWESOME!  Thanks so much!  I'm working on gathering more team content/info from people and putting it into our CMS now, so this page should be on the public site very soon. :)

[2022-11-10 10:07] wwwwwlwwwww opened #836 "Sharpen front-end design of region pages"
### Description

The design of the region pages ([accessible on the site](url) but not linked to publicly) needs to be sharpened / put into more of a ready-to-launch state now that content is in Forestry (our CMS) and we have the capacity to include data visualisations.  It doesn't need to be perfect, it just needs to look presentable.

Taylor will probably need to triage this issue to provide mor

[2022-11-10 11:01] wwwwwlwwwww opened #837 "Load Generic Card data models and expose them via the Gatsby API"
### Description

In #547, Jason developed the capability for a generic card template on the code side.  We now want to link this to our CMS.

I've gone into our CMS to create a data model with the same fields.  This issue involves loading this new data model into Gatsby à la #536 and #571.

Recall or reference that these are the generic card fields Jason worked in in #547:
 * image - In our CMS, t

[2022-11-10 11:07] wwwwwlwwwww opened #838 "Create "What We Do" pages"
### Description

This issue involves creating a set of three "What We Do" pages using the new infrastructure we've been building on the CMS side of things. I have these three pages as one issue because the pages are basically identical except for the specific content that appears in text boxes and images.  This is similar to #803.

File paths:
content/pages/powering-aid-supply-chains.md
content/pa

[2022-11-10 11:08] wwwwwlwwwww commented on #616
Pre-empted by #837 and #838.  We are no longer importing the activity data model, at least for now.  Rather, we will add information about DA's activities to the website via an instance of our generic cards + generic pages capability.

[2022-11-10 11:08] #616 closed, assigned to nobody

[2022-11-18 23:27] #778 closed, assigned to nobody

[2022-11-18 23:27] #781 closed, assigned to nobody

[2022-11-18 23:27] #782 closed, assigned to nobody

[2022-11-18 23:27] #784 closed, assigned to nobody

[2022-11-18 23:27] #793 closed, assigned to nobody

[2022-11-18 23:27] #798 closed, assigned to nobody

[2022-11-18 23:27] #800 closed, assigned to nobody

[2022-11-18 23:27] #801 closed, assigned to nobody

[2022-11-20 02:40] jtfairbank opened #852 "E2E Tests failing due to js errors on the campaign page."
- [ ] Find the loop on the `/src/pages/donate/...` page which doesn't set the `key` prop on it's children, and set the `key` prop to resolve the JS error.
- [ ] Run the End to End tests to see if this resolves the issue with them.

![image](https://user-images.githubusercontent.com/188915/202819505-3e588213-585a-44d4-ae5a-7527a68d51e8.png)

_Originally posted by @coderbyheart in https://github.com

[2022-11-20 16:19] rudychung commented on #852
Hi! Could I give this one a try?

[2022-11-20 17:07] coderbyheart commented on #852
Sure!

[2022-11-20 18:50] rudychung commented on #852
When I open a fundraiser page, I can't seem to replicate the warning message. Can you give me any pointers?

![image](https://user-images.githubusercontent.com/61764259/202920517-3c280538-18d7-4ba2-86af-f81522365b4d.png)
Only one I seem to get is this, but I think it might be different.

[2022-11-20 19:07] coderbyheart commented on #852
I see three errors here: https://distributeaid.org/donate/

![image](https://user-images.githubusercontent.com/188915/202920960-abf5b53a-d04d-402f-a04d-ed6a9f5a9106.png)

[2022-11-20 20:00] rudychung commented on #852
Those errors seem to all be related to hydration. It was the list child unique key prop warnings which I was trying to replicate locally, which I think only show up in the dev environment.

[2022-11-20 23:14] coderbyheart commented on #852
These errors are from the live site.

[2022-11-24 00:05] coderbyheart opened #866 ""Donate to undefined" in page title"
### What happened?

![image](https://user-images.githubusercontent.com/188915/203666243-f21748d2-3611-4150-8a4c-0da1eb8135a1.png)

### Steps to reproduce

Go to https://distributeaid.org/donate/tech-for-good/

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-26 20:43] JasonFritsche commented on #866
@coderbyheart  I'll take a look at this one.

[2022-11-26 23:24] JasonFritsche commented on #866
[CodeSee Map for this issue](https://app.codesee.io/maps/fd1e0ba0-6de0-11ed-a148-c1cb230d3d63)

[2022-11-27 00:32] coderbyheart commented on #866
Fixed via #869

[2022-11-27 00:32] #866 closed, assigned to JasonFritsche

[2022-11-28 02:27] preeformance commented on #661
Hi everyone,
I went back to this tonight to check on where things are and I ended up writing a substantial amount. If you're pressed for time, my two main questions are:

1. If a design change needs to be made, what does that process look like? (see A for details)
2. Would it be of interest to use a different tool for accessibility to ensure compliance? (see E for details)

If you have a bit more